<section class="modal-pay-container fixed inset-0 w-full h-full flex justify-center items-center animated faster fadeIn">

    <div class="modal-payment animated fadeInUp">
        <div class="btn-close-section">
            <button type="button" (click)="onCloseModal()">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="m7 7l10 10M7 17L17 7"/></svg>
            </button>
        </div>
        <h1 class="text-4xl text-center mb-2 font-bold">{{inputType === 'reference' ? 'INGRESAR DATOS' : 'CONFIRMAR DATOS'}}</h1>

        <!-- <h4 class="text-xl text-center mb-4" > Ingrese los datos</h4> -->

        <app-tab-dni
            (typeDNIEmitter)="onLoginTypeChange($event)"
        >
        </app-tab-dni>

        <div class="modal-pay-content">

            <form [formGroup]="formPayment" class="modal-pay-form-section">

                <div (click)="setInputFocus('dni')">
                    <label for="dni">{{inputType === 'reference' ? 'Cédula del titular de tarjeta' : 'Cédula del cliente'}}</label>
                    <span class="input-dni-container flex items-center w-full">
                        <span class="icon-type-dni">
                            {{typeDNI}}
                        </span>

                        <input id="dni" formControlName="dni" type="tel" required #inputDni (input)="onInputValueChange($event, 'dni')"
                        [ngClass]="{'input-focused-style': activeInputFocus === 'dni' && !isDniInputDisabled}" maxlength="16"/>

                        <button (click)="onEditDniValue()" class="dni-edit-value" [ngClass]="{'show-btn-visible': isDniDisabled}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem" viewBox="0 0 24 24">
                              <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path stroke-dasharray="56" stroke-dashoffset="56" d="M3 21l2 -6l11 -11c1 -1 3 -1 4 0c1 1 1 3 0 4l-11 11l-6 2">
                                  <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="56;0"/>
                                </path>
                                <path stroke-dasharray="8" stroke-dashoffset="8" d="M15 5l4 4">
                                  <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="8;0"/>
                                </path><path stroke-dasharray="6" stroke-dashoffset="6" stroke-width="1" d="M6 15l3 3">
                                  <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="6;0"/>
                                </path>
                              </g>
                              <path fill="currentColor" fill-opacity="0" d="M17 4H20V7L9 18L6 15L17 4Z">
                                <animate fill="freeze" attributeName="fill-opacity" begin="0.8s" dur="0.15s" values="0;0.3"/>
                              </path>
                            </svg>
                        </button>
                    </span>
                    <div *ngIf="!formErrorMessage?.errorMsg ? (formPayment.get('dni')?.invalid && formPayment.get('dni')?.touched) : true">
                        <small *ngIf="formPayment?.get('dni')?.errors?.['required']">La cédula es requerida.</small>
                        <small *ngIf="formPayment.get('dni')?.errors?.['pattern']">Solo se permiten números.</small>
                        <small *ngIf="formErrorMessage?.inputName === 'dni' && formErrorMessage?.errorMsg">
                            {{formErrorMessage?.errorMsg}}
                        </small>
                    </div>
                </div>

                <!-- Campo dinámico: mount o reference -->
                <div [ngSwitch]="inputType">
                  <!-- Caso: Monto -->
                  <div *ngSwitchCase="'mount'" (click)="setInputFocus('mount')">
                    <label for="mount">Monto</label>

                    <span class="input-dni-container flex items-center w-full">
                      <span class="icon-type-dni"> Bs. </span>

                      <input id="mount" formControlName="mount" type="tel" required #inputMount (input)="onInputValueChange($event, 'mount')"
                      [ngClass]="{'input-focused-style': activeInputFocus === 'mount' && !isMountInputDisabled}" maxlength="12"/>

                      <button (click)="onEditMountValue()" class="dni-edit-value" [ngClass]="{'show-btn-visible': isMountDisabled}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem" viewBox="0 0 24 24">
                          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path stroke-dasharray="56" stroke-dashoffset="56" d="M3 21l2 -6l11 -11c1 -1 3 -1 4 0c1 1 1 3 0 4l-11 11l-6 2">
                              <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="56;0"/></path>
                              <path stroke-dasharray="8" stroke-dashoffset="8" d="M15 5l4 4">
                                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="8;0"/>
                              </path>
                              <path stroke-dasharray="6" stroke-dashoffset="6" stroke-width="1" d="M6 15l3 3">
                                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="6;0"/>
                              </path>
                            </g>
                            <path fill="currentColor" fill-opacity="0" d="M17 4H20V7L9 18L6 15L17 4Z">
                              <animate fill="freeze" attributeName="fill-opacity" begin="0.8s" dur="0.15s" values="0;0.3"/>
                            </path>
                          </svg>
                      </button>
                    </span>

                    <div *ngIf="!formErrorMessage?.errorMsg ? (formPayment.get('mount')?.invalid && formPayment.get('mount')?.touched) : true">
                      <small *ngIf="formPayment.get('mount')?.errors?.['required']">El monto es requerido.</small>
                      <small *ngIf="formPayment.get('mount')?.errors?.['min']">El monto debe ser mayor que 0.</small>
                      <small *ngIf="formErrorMessage?.inputName === 'mount' && formErrorMessage?.errorMsg">
                          {{formErrorMessage?.errorMsg}}
                      </small>
                    </div>

                    <app-btn-transaction
                    [disabled]="formPayment.invalid || sendPayment || !!formErrorMessage?.errorMsg"
                    [btnType]="'submit'"
                    (onBtnClick)="onSubmit()"
                    >
                    </app-btn-transaction>
                  </div>

                  <div *ngSwitchCase="'reference'">

                  <div *ngIf="abonadoInputActive" (click)="setInputFocus('abonado')">
                     <label for="abonado">Cédula del abonado</label>

                    <span class="input-dni-container flex items-center w-full">
                      <span class="icon-type-dni">
                            {{typeDNI}}
                        </span>

                      <input id="abonado" formControlName="abonado" type="text" required #inputAbonado (input)="onInputValueChange($event, 'abonado')"
                      [ngClass]="{'input-focused-style': activeInputFocus === 'abonado' && !isMountDisabled}" maxlength="12"/>

                      <button (click)="onEditMountValue()" class="dni-edit-value" [ngClass]="{'show-btn-visible': isMountDisabled}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem" viewBox="0 0 24 24">
                          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path stroke-dasharray="56" stroke-dashoffset="56" d="M3 21l2 -6l11 -11c1 -1 3 -1 4 0c1 1 1 3 0 4l-11 11l-6 2">
                              <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="56;0"/></path>
                              <path stroke-dasharray="8" stroke-dashoffset="8" d="M15 5l4 4">
                                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="8;0"/>
                              </path>
                              <path stroke-dasharray="6" stroke-dashoffset="6" stroke-width="1" d="M6 15l3 3">
                                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="6;0"/>
                              </path>
                            </g>
                            <path fill="currentColor" fill-opacity="0" d="M17 4H20V7L9 18L6 15L17 4Z">
                              <animate fill="freeze" attributeName="fill-opacity" begin="0.8s" dur="0.15s" values="0;0.3"/>
                            </path>
                          </svg>
                      </button>
                    </span>

                    <div *ngIf="!formErrorMessage?.errorMsg ? (formPayment.get('abonado')?.invalid && formPayment.get('abonado')?.touched) : true">
                      <small *ngIf="formPayment.get('abonado')?.errors?.['required']">El abonado es requerido.</small>
                      <small *ngIf="formErrorMessage?.inputName === 'abonado' && formErrorMessage?.errorMsg">
                          {{formErrorMessage?.errorMsg}}
                      </small>
                    </div>
                  </div>

                  <!-- Caso: Referencia -->
                  <div (click)="setInputFocus('reference')">
                    <label for="reference">Nro. de secuencia</label>

                    <span class="input-dni-container flex items-center w-full">
                      <span class="icon-type-dni"> Nro. </span>

                      <input id="reference" formControlName="reference" type="tel" required #inputReference (input)="onInputValueChange($event, 'reference')"
                      [ngClass]="{'input-focused-style': activeInputFocus === 'reference' && !isMountDisabled}" maxlength="12"/>

                      <button (click)="onEditMountValue()" class="dni-edit-value" [ngClass]="{'show-btn-visible': isMountDisabled}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem" viewBox="0 0 24 24">
                          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path stroke-dasharray="56" stroke-dashoffset="56" d="M3 21l2 -6l11 -11c1 -1 3 -1 4 0c1 1 1 3 0 4l-11 11l-6 2">
                              <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="56;0"/></path>
                              <path stroke-dasharray="8" stroke-dashoffset="8" d="M15 5l4 4">
                                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="8;0"/>
                              </path>
                              <path stroke-dasharray="6" stroke-dashoffset="6" stroke-width="1" d="M6 15l3 3">
                                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="6;0"/>
                              </path>
                            </g>
                            <path fill="currentColor" fill-opacity="0" d="M17 4H20V7L9 18L6 15L17 4Z">
                              <animate fill="freeze" attributeName="fill-opacity" begin="0.8s" dur="0.15s" values="0;0.3"/>
                            </path>
                          </svg>
                      </button>
                    </span>

                    <div *ngIf="!formErrorMessage?.errorMsg ? (formPayment.get('reference')?.invalid && formPayment.get('reference')?.touched) : true">
                      <small *ngIf="formPayment.get('reference')?.errors?.['required']">La referencia es requerida.</small>
                      <small *ngIf="formPayment.get('reference')?.errors?.['min']">La referencia debe ser mayor que 0.</small>
                      <small *ngIf="formErrorMessage?.inputName === 'reference' && formErrorMessage?.errorMsg">
                          {{formErrorMessage?.errorMsg}}
                      </small>
                    </div>
                    <app-btn-transaction
                    [disabled]="formPayment.invalid || sendPayment || inProcess || !!formErrorMessage?.errorMsg"
                    [btnType]="'submit'"
                    [title]="'Anular'"
                    (onBtnClick)="!abonadoInputActive ? confirmAnulation() : anulateTransaction()"
                    >
                    </app-btn-transaction>
                  </div>
                  </div>
                </div>


            </form>

            <app-keyboard-on-screen
                classes="pinpad-big-size" (valorTeclado)="onTecladoInput($event)"
                (deleteKeyEmitter)="deleteLastCharacter()"
            >
          </app-keyboard-on-screen>

        </div>
    </div>
</section>
