<div class="div-container">

  <button (click)="closeBox()" class="btn-actions">
    <h5 class="option-text">Imprimir Ultimo Voucher</h5>
    <!-- <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p> -->
  </button>

  <button (click)="closeBox()" class="btn-actions">

    <h5 class="option-text">Imprimir Ultimo Voucher Procesado</h5>
    <!-- <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p> -->
  </button>

  <button (click)="closeBox()" class="btn-actions">

    <h5 class="option-text">Pre-cierre de Caja</h5>
    <!-- <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p> -->
  </button>

  <button (click)="closeBox()" class="btn-actions">

    <h5 class="option-text">Cierre de Caja</h5>
    <!-- <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p> -->
  </button>

  <button (click)="closeBox()" class="btn-actions">

    <h5 class="option-text">Reimprimir el ultimo Vaoucher de cierre de caja</h5>
    <!-- <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p> -->
  </button>

  <button (click)="closeBox()" class="btn-actions">

    <h5 class="option-text">Anulación de una Transacción</h5>
    <!-- <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p> -->
  </button>

</div>
