<div class="div-container">

  <!-- <button (click)="closeBox1()" class="btn-actions">
    <h5 class="option-text">Imprimir Ultimo Voucher</h5>
  </button>

  <button (click)="closeBox1()" class="btn-actions">
    <h5 class="option-text">Imprimir Ultimo Voucher Procesado</h5>
  </button> -->

  <button (click)="closeBox()" class="btn-actions">
    <h5 class="option-text">Pre-cierre de Caja</h5>
  </button>

  <button (click)="pre_closeBox()" class="btn-actions">
    <h5 class="option-text">Cierre de Caja</h5>
  </button>

  <!-- <button (click)="closeBox1()" class="btn-actions">
    <h5 class="option-text">Reimprimir el ultimo Vaoucher de cierre de caja</h5>
  </button> -->

  <button (click)="showAnulateTransactionModal()" class="btn-actions">
    <h5 class="option-text">Anulación de una Transacción</h5>
  </button>

</div>
