.div-container {
  @apply inline-grid grid-cols-3 gap-4 ;
}

.btn-actions {
  // @apply block max-w-sm p-6 bg-blue-500 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 ;

  // background: linear-gradient(36deg, rgb(89, 152, 224) 18%, rgb(82, 230, 215) 100%);
  // border-radius: 2rem;
  // padding: 2.2rem;

  background: var(--primary-accent-color);
  border-radius: 2rem;
  padding: 2.2rem;
}

.option-text {
  //@apply  mb-2 text-2xl font-bold tracking-tight dark:text-white ;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}
