<ng-container *ngIf="!this.mobileQuery.matches; else elseBlock">
  <button mat-button style="position: absolute" mat-dialog-close>X</button>
  <img src="https://crm.thomas-talk.me/newzelle.jpeg" alt="">
</ng-container>
<ng-template #elseBlock>
  <form>
    <input type="radio" name="fancy" autofocus value="first" id="first" />
    <input type="radio" name="fancy" value="second" id="second" />
    <label for="first">
      <img src="../../../assets/images/Formas de Pagos/Formas de Pago App-02 final.jpg"
        style="max-height: 37rem !important; max-width: 80rem !important">
    </label>
    <label for="second">
      <img src="../../../assets/images/Formas de Pagos/Formas de Pago App-05 final.jpg"
        style="max-height: 37rem !important; max-width: 80rem !important">
    </label>
    <button mat-button style="position: absolute; top: 10px; right: -2px;" mat-dialog-close>
      <mat-icon><div class="material-icons-outlined">cancel</div></mat-icon>
    </button>
  </form>

  <!-- <mat-stepper>

    <mat-step> -->
      <!-- <div class="container">
        <section class="section">
  
          <div class="title">
            <h1>FORMAS DE PAGO</h1>
            <h5>Bancos autorizados pago servicios</h5>
          </div>
  
          <div class="sub-container1">
            <h3><strong>ZELLE</strong></h3>
            
            <ul>
              <li>pagos.zelle@fibextelecom.net</li>
              <li>Fibex Telecom</li>
            </ul>
  
          </div>
  
          <div class="sub-container1">
            <h3><strong>BANK OF AMERICA</strong></h3>
  
            <ul>
              <li>CONEX TELECOM LLC</li>
              <li>222 Broadway New York, NY 10038</li>
              <li>ACCOUNT #: 898107524154</li>
              <li>SWIFT: B0FAUS3N</li>
              <li>ABA: 26009593</li>
              <li>ROUTING: 026009593</li>
            </ul>
  
          </div>
  
          <div class="sub-container1">
            <h3><strong>WELLS FARGO</strong></h3>
  
            <ul>
              <li>Conex Telecom LLC</li>
              <li>ACCOUNT #: 1161129240</li>
            </ul>
  
          </div>
  
          <div class="sub-container1">
            <h3>CORPORACIÓN FIBEX TELECOM, C.A.</h3>
            <H5>RIF: J-30818251-6</H5>
  
            <ul>
              <li><strong>BANCO MERCANTIL</strong></li>
              <li>0105-0652-2816-5202-2163</li>
              <li><strong>CUENTA USD</strong></li>
              <li>0105-0652-2956-5201-1351</li>
              <li><strong>CUENTA EUROS</strong></li>
              <li>0105-0652-2256-5201-1394</li>
              <li><strong>PAGO MÓVIL</strong></li>
              <li>Mercantil a Mercantil</li>
              <li>0412-9637516 - Rif.J-308182516</li>
              <li>0105-0652-2816-5202-2163</li>
              <li><strong>BANCO NACIONAL DE CRÉDITO</strong></li>
              <li>CUENTA USD</li>
              <li>0191-0107-0223-0000-7074</li>
            </ul>
  
          </div>
  
  
        </section> -->
  
      <!-- </mat-step>
  
      <mat-step> -->
  
        <!-- <section class="section">
  
          <div>
            <h1>CICLOS DE FACTURACIÓN</h1>
          </div>
  
          <div>
            <h3>CICLO DE FACTURACIÓN GENERAL</h3>
            
            <ul>
              <li>AVISO DE COBRO MES CORRIENTE: Día 01 de cada mes</li>
              <li>FECHA LÍMITE DE PAGO: Día 10 de cada mes</li>
              <LI>FECHA SUSPENSIÓN DE SERVICIOS: Día 15 de cada mes</LI>
            </ul>
  
          </div>
  
        </section>

      </div>

      <div>
        <button mat-mini-fab><mat-icon>arrow_back</mat-icon></button>
        <button mat-mini-fab><mat-icon>arrow_forward</mat-icon></button>

      </div> -->
<!-- 
    </mat-step>

  </mat-stepper> -->

</ng-template>
