$color_1: #fff;
$color_2: rgb(21, 22, 80);
form {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden !important;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}
label {
	color: $color_1;
	transition: transform 500ms ease-out;
	display: inline-block;
	min-height: 100%;
  width: 100%;
	position: relative;
	z-index: 1;
	text-align: center;
	background-size: cover;
	font-size: 3rem;
	&:before {
		color: $color_2;
		display: block;
		background: rgba(217, 217, 217, 0.089);
    line-height: 50vh;
		position: absolute;
		padding: 1rem;
		font-size: 2rem;
		top: 50%;
		transform: translate3d(0, -50%, 0);
		cursor: pointer;
		content: "\276D";
		right: 100%;
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
	}
	&:after {
		color: $color_2;
		display: block;
		background: rgba(217, 217, 217, 0.089);
    line-height: 50vh;
		position: absolute;
		padding: 1rem;
		font-size: 2rem;
		top: 50%;
		transform: translate3d(0, -50%, 0);
		cursor: pointer;
		content: "\276C";
		left: 100%;
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
	}
}
input {
	position: absolute;
	&:focus {
		~ {
			.keys {
				opacity: 0.8;
			}
		}
	}
	&:nth-of-type(1) {
		&:checked {
			~ {
				label {
					&:nth-of-type(1) {
						z-index: 0;
					}
					transform: translate3d(0, 0, 0);
				}
			}
		}
	}
	&:nth-of-type(2) {
		&:checked {
			~ {
				label {
					&:nth-of-type(2) {
						z-index: 0;
					}
					transform: translate3d(-100%, 0, 0);
				}
			}
		}
	}
}
.keys {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	color: $color_1;
	text-align: center;
	transition: all 300ms linear;
	opacity: 0;
}
