.user-select-item-card {
    max-width: 470px !important;
    background: var(--primary-accent-color);
    // background: #1172dfd9;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    min-width: 270px;

    h1 {
      font-weight: bold;
      font-size: 1.9rem;
      text-align: center;
      margin-bottom: 0.4rem;
      border-bottom: 1px solid;
      text-align: start;
    }

    .content-user-select-card {
      display: flex;
      gap: 0px;

      .content-user-select-card-item {
        width: 50%;
        display: flex;
        flex-direction: column;

        &.content-user-select-end-position {
          h5 {
            text-align: end !important;
          }
          p {
            text-align: end !important;
          }
        }

        h5 {
          font-size: 1rem;
          text-align: start;
        }
        p {
          text-align: start;
          font-size: 1.3rem;
          font-weight: bold;
        }
      }
    }

    .user-select-item-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: .8rem;
      margin-top: .5rem;

      h5 {
        font-size: 0.8rem;
        text-wrap: balance;
        line-height: 1.2;
      }

      p {
        font-size: .8rem;
        text-align: start;
        &.p-text-right {
          text-align: end !important;
        }
      }

    }

  }
