<section>
  <mat-icon class="btn-close" (click)="dismiss()">close</mat-icon>

  <div class="title">
   <h1>FORMA DE PAGO</h1>
  </div>
 
  <div class="sub-container">
    <h3><strong>Correo Zelle:</strong></h3>

    <ul class="unorderedList">
      <li  class="textToCopy" (click)="copy('pagos.zelle@fibextelecom.net')"> pagos.zelle2@fibextelecom.net <mat-icon class="copy">file_copy</mat-icon></li>
    </ul>

    <h3 style="margin-top: 3%; cursor: pointer;" (click)="PayZelle()"><strong>Click Aquí si pagaste</strong></h3>

    <img style="margin-top: 3%; max-width: 50vh;" src="assets/images/ReportarZelle.gif">
    

  </div>

</section>