<form class="form-login" id="form-offer">
  <div class="form-login__offer">
    <span *ngIf="!nameClient" class="button-link__bold button-link button__secondary btn-width-70">
      <p>Registre su equipo</p>
    </span>
    <span *ngIf="nameClient" class="button-link__bold button-link button__secondary btn-width-70">{{nameClient}}</span>
  </div>

  <div class="form-login__group">
    <mat-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="firstFormFibex">
        <form [formGroup]="firstFormFibex">
          <ng-template matStepLabel>Datos del equipo</ng-template>

          <div class="form-login__item">
            <mat-form-field appearance="outline">
              <mat-label>Cédula del Cliente</mat-label>
              <input matInput required formControlName="dni" #inputDni (blur)="searchServices(inputDni)">
              <mat-icon matSuffix (click)="searchServices(inputDni, false)" style="cursor: pointer">search</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Nombre y Apellido</mat-label>
              <input matInput required formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Bancos</mat-label>
              <mat-select formControlName="bank">
                <mat-option *ngFor="let bank of bankList" [value]="bank" (click)="bankSelected(bank)">
                  {{bank}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Serial de dispositivo</mat-label>
              <input matInput required formControlName="serial">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Abonado</mat-label>
              <mat-select formControlName="nroContrato">
                <mat-option *ngFor="let contrato of listContratos" [value]="contrato.contrato"
                  (click)="contractSelected(contrato)">
                  {{contrato.contrato}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="savePayment()">Guardar Registro</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</form>