<section>
      <span matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha_reg | date: 'dd/MM/yyyy'}} </td>
      </span>

      <span matColumnDef="Comprobante">
          <th mat-header-cell *matHeaderCellDef> Comprobante </th>
          <td mat-cell *matCellDef="let element"> {{element.numero_ref}} </td>
        </span>

      <span matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Estado Comprobante </th>
        <td mat-cell *matCellDef="let element"> {{element.status_pd}} </td>
      </span>
</section>
