section.info-pay-container {
  padding: 0 20px 20px;
  background: white;
  // margin-top: 20px !important;
  width: 90%;
  margin: 10% auto 0 !important;
  max-width: 835px;
  @media only screen and (max-width: 566px) {
    padding: 10px !important;
  }
}
.header-info-pay {
  // position: sticky;
  // top: 0;
  width: 100%;
}
.title-info-pay {
  padding: 14px 0 17px;
  text-align: center;
  background-color: white;
}
table.info-pay-table {
  width: 100%;

  tbody {
    display: flex;
    flex-direction: column;
    gap: 13px;

    tr {
      display: flex;
      justify-content: space-around;
      background: #f0f0f0;
      border-radius: 16px;
      overflow-wrap: anywhere;
      gap: 10px;

      &.table-header {
        padding: 13px;
      }

      th {
        line-height: 1;
      }

      // &.bg-dark {
        // td {
        //   background: #85bdca !important;
        // }
      // }

      td {
        // padding: 13px;
        // background: #40b9d4;
        padding: 20px 0px;
        color: rgb(65, 65, 65);
        text-align: center;
        text-wrap: balance;
        line-height: 1;
      }
    }
  }
}

@media only screen and (max-width: 362px) {
  table.info-pay-table tbody tr {
    &.table-header {
      padding: 7px !important;
    }
    td {
      padding: 10px 0px !important;
      font-size: 13px !important;
    }
    th {
      padding: 4px !important;
    }
  }
}

.btn-close {
  font-weight: 600;
  font-size: 30px;
  border-radius: 50%;
  // float: right;
  margin: 7px;
  color: black;
  padding: 15px;
  position: absolute;
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 426px) {
  section {
    padding: 0 !important;

    .title {
      font-size: 18px;
    }
    table {
      font-size: 14px;

      td, th {
        padding: 9px 0;
      }
    }
  }
}

@media only screen and (max-width: 594px) {
  .header-info-pay {
    display: flex;
    flex-direction: column;

    .btn-close {
      color: black;
      padding: 10px 10px 0;
      font-weight: 600;
      font-size: 30px;
      position: initial;
    }
    .title-info-pay {
      padding: 0 0 14px;
    }
  }
}
.w-100 {
  width: 100% !important;
}
