.dni-type-selector-new {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  flex-shrink: 0;
  // height: 100px; /* Altura más compacta */
  height: 80px;
}

.dni-type-btn {
  flex: 1;
  border: none;
  background: #f3f4f6;
  color: #9ca3af;
  padding: 10px;
  border-radius: 25px;
  font-size: 1.6rem;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.2s;
  height: 100%; /* Ocupar el alto fijo del padre */

  .btn-content {
    display: flex;
    flex-direction: row; /* Icono al lado del texto */
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;

    svg {
      width: 32px;
      height: 32px;
      flex-shrink: 0;
    }

    span {
      white-space: nowrap;
    }
  }

  &.active {
    background: linear-gradient(135deg, #215288 0%, #2d7bc2 100%);
    color: white;
  }
}
