form.checkout {
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 1rem 2rem;
  background: white;

  font-family: monospace;
  color: #525252;
  font-size: 1.1rem;
}

form.checkout button {
  padding: 0.5rem 1rem;
  color: white;
  background: coral;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
}

form.checkout button:active {
  background: rgb(165, 76, 43);
}

.desc-stripe {
  width: 100%;
  display: flex;
  justify-content: space-around;
}



.card-container {
  width: 100%;
}

mat-card{
  margin: auto;
  width: 90%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 600px) {
    width: 60%;
  }
}
.card{
  margin: 5px;
}
mat-card-title{
  text-align: center;
  font-size: 16px;
}

.error-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.error-msg span {
  font-weight: bold;
  color: #ff0000;
}