
<div class="form-login " id="form-offer">

    <div class="form-login__offer">
    
        <span class="button-link__bold button-link button__secondary btn-width-70">
          <p>
           Holaholahola  2222
          </p> 
          <p>
            Servicio de Internet
          </p>
        </span>
        <!-- <span *ngIf="nameClient" class="button-link__bold button-link button__secondary btn-width-70">{{nameClient }}</span> -->
      </div>
    
      <div class="form-login__group">
        <mat-card>
          <mat-card-title>
            {{nameClient}}
          </mat-card-title>
          <!-- <span *ngIf="nameClient" class="name">{{nameClient}}</span> -->
          <mat-card-content>
            <div class="form-login__item" fxFlex="1 0 auto" fxLayout="column">
              <div class="card">
                <ngx-stripe-card
                [options]="cardOptions"
                (on)="onChange($event)"
                [elementsOptions]="elementsOptions"
              ></ngx-stripe-card>
            </div>
              </div>
          </mat-card-content>
            <mat-card-footer>
              <button class="button-material-next btn-width-100" mat-raised-button (click)="buy()"
              type="button">
              Realizar pago
            </button>
            </mat-card-footer>
          <!-- <div class="container2">
            <div class="row">
              <div class="col-md-12" [formGroup]="paymentForm">
                <div class="form-group">
                  <label>Name</label>
                  <input class="form-control" type="text" formControlName="name">
                </div>
                <div class="form-group">
               
                </div>
                <button 
                  class="btn btn-success"
                  (click)="buy()" 
                  [disabled]="!validForm"
                >CLICK</button>
              </div>
            </div>
          </div> -->
        </mat-card>
        </div>
    </div>
