<div class="welcome-view-container mb-4">

    <img 
      src="assets/images/fibex-logo-positive.png" 
      alt="Fibex Telecom Logo" 
      class="welcome-logo"
      (click)="onLogoTap($event)"
      (touchstart)="onLogoTap($event)"
      style="cursor: pointer;">

    <h1 class="welcome-title">
        Realiza tu pago aquí
    </h1>

    <svg class="welcome-arrow-icon" xmlns="http://www.w3.org/2000/svg" width="7em" height="7em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 9l6 6l6-6"/></svg>
    
    <button class="welcome-btn shadow__btn" (click)="showForm()">
        Empezar
    </button>

</div>