.arrow_up {
  position: fixed;
  bottom: calc(3% + 60px);
  right: 8%;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  background: linear-gradient(36deg, rgba(69, 127, 192, 1) 18%, rgba(7, 195, 176, 1) 100%);
  border-radius: 50%;
  color: ghostwhite;
  font-size: 27px;
  border: none;
  overflow: hidden;

  img {
    width: 100%;
  }
}
.flex-container-column {
  display: flex;
  flex-direction: column;
}
.img-swal {
  z-index: 9999999999999999999 !important;
  .swal-title {
    position: relative !important;
    z-index: 9999999999 !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    border-radius: 18px !important;
    overflow: hidden;
  }
  .swal2-html-container {
    margin: 0 !important;
    img {
      width: 100% !important;
    }
  }
}