.footer {
    // grid-row-start: 2;
    // grid-row-end: 3;
    /* background-color: #f5f5f5d9;
   padding-top: 20px;
   padding-bottom: 20px;
   color: grey;
   backdrop-filter: blur(36px); */

    color: grey;
    background: transparent;
    width: 100%;
    min-height: 4rem; // Height increased to accommodate larger text
    padding: 1rem 0;
    display: flex;
    place-content: center;
    align-items: center;
}

.footer-attribution {
    font-size: 1.6rem; // Increased significantly
    font-weight: 600;
    text-align: center;
}

.footer-attribution__link {
    color: hsl(228, 45%, 44%);
}