.footer {
   // grid-row-start: 2;
   // grid-row-end: 3;
   background-color: #f5f5f5d9;
   padding-top: 20px;
   padding-bottom: 20px;
   color: grey;
   backdrop-filter: blur(36px);
}
.footer-attribution { 
    font-size: 11px; 
    text-align: center; 
}
.footer-attribution__link{ 
    color: hsl(228, 45%, 44%); 
}