.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 1s;
}


.form-login__offer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 95%;
  justify-content: center;
  display: flex;
  height: 50px;
  padding: 20px;

  @include break('x-small') {
    justify-content: center;
    height: 50px;
  }
}

.form-login__group {
  // background-color: rgb(255, 251, 251);
  background-color: white;
  width: calc(82% - 24px*2);

  // padding: 1.2rem;
  @media only screen and (max-width: 520px) {
    width: calc(92% - 24px*2);
  }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: 80%;
  padding: 24px;
  border-radius: 20px;
  margin-top: 20px;
  position: relative;
  // -webkit-box-shadow: 0px 10px 8px -8px #000000;
  // box-shadow: 0px 10px 8px -8px #000000;
}

.fancy_shadow {
  border: 1px solid rgb(230, 235, 241) !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}


.paypal__group {
  // background-color: rgb(255, 251, 251);
  background-color: white;
  width: 92%;
  padding: 1.2rem;
  //display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 8px -8px #000000;
  box-shadow: 0px 10px 8px -8px #000000;
}

.form-login__group2 {
  //   background-color: rgb(255, 251, 251);
  //   width: 92%;
  //   padding: 1.2rem;
  //   margin-top: -3%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  //   height: 80%;
  //   border-radius: 10px;
  //   -webkit-box-shadow: 0px 10px 8px -8px #000000;
  //   box-shadow: 0px 10px 8px -8px #000000;
  margin-top: 10% !important;
}

.form-login__item {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.form-login__input {
  width: 94%;
  height: 45px;
  outline-color: hsl(0, 2%, 52%);
  text-align: justify;
  padding-left: 25px;
  border-radius: 5px;
  font-weight: $font-popins-600-w;
  border: 1px solid hsl(0, 2%, 76%);

  &::placeholder {
    padding-left: 5px;
    font-weight: $font-popins-600-w;
  }
}

.form-login__warning {
  border: 2px solid $red;
}

.form-login__alert-message {
  display: none;
  margin-top: .25rem;
  text-align: end;
  font-style: italic;
  font-size: 10px;
  color: $red;
  font-weight: $font-popins-500-w;
  transition: all 1.2s;
}

.form-login__terms {
  font-size: 14px;
  font-weight: $font-popins-500-w;

  @include break('x-small') {
    font-size: 14px;
    text-align: center;
  }
}

.form-login__link-terms {
  color: $red;
  text-decoration: none;
  font-weight: $font-popins-600-w;
}

.mat-stepper-horizontal {
  width: 95%;

  // @include break('x-small') {
  //     width: 95%;
  // }
  @media only screen and (max-width: 520px) {
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
  }
}

.card-pay {
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.message-error-upload {
  color: $back-ground-fibex;
  font-weight: $font-popins-600-w;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;
}

div.mat-step-icon {
  background-color: rgb(74 159 255) !important;
}

.cdk-overlay-pane.custom-size-standard {
  height: 50%;
  width: 92% !important;
  max-width: 440px !important;
  border-radius: 16px;
  overflow: hidden;

  mat-dialog-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }

  mat-dialog-container::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  mat-dialog-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122, 153, 217)),
        color-stop(0.72, rgb(73, 125, 189)),
        color-stop(0.86, rgb(28, 58, 148)));
  }
}
.cdk-overlay-pane.custom-size-lg {
  height: 50%;
  width: 92% !important;
  max-width: 700px !important;
  border-radius: 16px;
  overflow: hidden;

  mat-dialog-container {
    padding: 0 !important;
  }

  mat-dialog-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }

  mat-dialog-container::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  mat-dialog-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122, 153, 217)),
        color-stop(0.72, rgb(73, 125, 189)),
        color-stop(0.86, rgb(28, 58, 148)));
  }
}

// Animations
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  display: none;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  display: block;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.customized_btn_next {
  align-items: center;
  appearance: none;
  background-color: rgba(7, 195, 176, 1);
  background-image: linear-gradient(36deg, $app-dark-blue 18%, $app-light-blue 100%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s, background-image .3s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;

  &:hover,
  &:active {
    background-image: linear-gradient(36deg, rgb(87 150 221) 18%, rgb(0 231 207) 100%);
  }
}

.customized_btn_next:active,
.customized_btn_next:focus {
  outline: none;
}

.customized_btn_next:hover {
  background-position: -20px -20px;
}

.customized_btn_next:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.customized_btn_next:disabled,
.customized_btn_next[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  background-image: #cccccc;
  background: #cccccc;
  color: #666666;
}

.fancy_card {
  // height: 149px !important;
  // min-height: 149px !important;
  height: 100% !important;
  min-height: 100% !important;
  border: 1px solid rgb(230, 235, 241) !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  border-radius: 12px !important;
  cursor: pointer;
  background: white;
  padding: 9%;
  // width: 149px;
  // min-width: 149px !important;
  width: 100%;
  min-width: 100% !important;
  // max-width: 320px !important;
  // max-height: 320px !important;
  overflow: hidden;
}
