.container {
  height: 100vh;
  width: 100%;
  min-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  // Background removido para usar el global
  background: transparent !important;
}

.bg-app {
  // background: linear-gradient(-135deg, rgb(181,193,215), rgb(255, 255, 255));
  width: 100%;
  background: transparent;
  min-height: 100vh;
}

.default-bg {
  // background: #215288b0;
  width: 100%;
  background: transparent;
  min-height: calc(100vh - 2px);
}
