.main-login {
    width: 100%;
    background-image: linear-gradient($back-ground-fibex 30%, whitesmoke 30%);
    background-repeat: no-repeat;
    min-height: 85vh;
}

.container {
  min-height: 100vh;
  width: 100%;
  background: whitesmoke;
  background-repeat: no-repeat;
}
