.container {
  // min-height: 100vh;
  height: 100vh;
  width: 100%;
  // background: whitesmoke;
  background-repeat: no-repeat;
  overflow-y: scroll;
  overflow-x: hidden;

  background-image: url('../../../assets/images/payment-img-1.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.bg-app {
  background: linear-gradient(-135deg, rgb(181,193,215), rgb(255, 255, 255));
  width: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.default-bg {
  // background-image: linear-gradient($back-ground-fibex 30%, whitesmoke 30%);
  // background-image: linear-gradient(rgba(69, 127, 192, 1) 11%, rgba(7, 195, 176, 1) 36%, whitesmoke 30%);
  
  /* background: linear-gradient(0deg, rgba(69, 127, 192, 0.9), rgba(7, 195, 176, 0.7)); */
  background: linear-gradient(0deg, rgba(69, 127, 192, 0.5), rgba(7, 195, 176, 0.5));
  width: 100%;
  background-repeat: no-repeat;
  // min-height: 100vh;
  min-height: calc(100vh - 43px);
}
