.div-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}

.btn-option {
  padding: 0.9rem 1rem;
  color: ghostwhite;
  border-radius: 3rem;
  font-size: 1rem;
  /* border: 1px solid #0556ec; */
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  &:focus {
    outline: none;
    box-shadow:  3px 3px 6px rgb(95,95,95);
    border-color: var(--primary-accent-color);
    background: #0556ec !important;
  }

  &:disabled {
    background: var(--primary-accent-color);
    opacity: 0.6;
  }
  &:not(:disabled) {
    background: var(--primary-accent-color);
  }
}

// .btn-test {
//   @extend .btn-option;
//   border-bottom-right-radius: 0;
//   border-top-right-radius: 0;

// }

// .btn-test-active {
//   @extend .btn-option;
//   background: #0556ec !important;
//   box-shadow: -3px 3px 6px rgb(95, 94, 94);
//   border-bottom-right-radius: 0;
//   border-top-right-radius: 0;

// }

.btn-admin-active {
  @extend .btn-option;
  // background: #0556ec !important;
  // box-shadow:  3px 3px 6px rgb(95, 95, 95);

}

.btn-admin {
  @extend .btn-option;
  // border-bottom-left-radius: 0;
  // border-top-left-radius: 0;

}
