<div class="form-container">
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <div>
        <label for="user">Usuario:</label>
        <input id="user" type="text" formControlName="user">
        <div *ngIf="formLogin.get('user')?.invalid && formLogin.get('user')?.touched">
          El usuario es obligatorio.
        </div>
      </div>

      <div>
        <label for="pass">Contraseña</label>
        <input id="pass" type="password" formControlName="pass">
        <div *ngIf="formLogin.get('pass')?.errors?.['required'] && formLogin.get('pass')?.touched">
          El pass es obligatorio.
        </div>
        <div *ngIf="formLogin.get('pass')?.errors?.['pass'] && formLogin.get('pass')?.touched">
          La contraseña no tiene un formato válido.
        </div>
      </div>

      <button type="submit" [disabled]="formLogin.invalid || submitted">
        Entrar
      </button>
    </form>
</div>
