<div class="form-login " id="form-offer">

<div class="form-login__offer">

    <span class="button-link__bold button-link button__secondary btn-width-70">
      <p>
        Registre su pago
      </p>
      <p>
        Servicio de Internet
      </p>
    </span>
    <!-- <span *ngIf="nameClient" class="button-link__bold button-link button__secondary btn-width-70">{{nameClient }}</span> -->
  </div>

  <div class="paypal__group"> 
    <div>
        <ngx-paypal 
          [config]="payPalConfig">
        </ngx-paypal>
    </div>
    

  </div> 
</div>
