<div class="form-login " id="form-offer">
  <div class="form-login__offer">
    <span class="button-link__bold button-link button__secondary btn-width-70">
      <p>
        Registre su pago
      </p>
      <p>
        Servicio de Internet
      </p>
    </span>
    <!-- <span *ngIf="nameClient" class="button-link__bold button-link button__secondary btn-width-70">{{nameClient }}</span> -->
  </div>
  <div class="paypal__group">
    <div *ngIf="nameClient && saldoUSD" class="desc-user">
      <div>
        <h4 class="name-client">
          {{nameClient}}
        </h4>
        <h4 class="name-client">
          {{saldoUSD | negativeAmount}} USD | {{saldoBs | negativeAmount}} Bs {{saldoText}}
        </h4>
      </div>
      <div>
        <h4 class="name-client">
          Servicio: {{ paquete }}
        </h4>
        <h4 class="name-client">
          Subscripción: {{subscription}} USD
        </h4>
      </div>
    </div>
    <div *ngIf="ValidoPagoPaypal && !ReciberPay">
      <div class="monto-comision">
        <span ><b >NOTA:</b></span>
        <small>Al realizar un pago por Paypal la <strong style="color: red;">tasa</strong> y <strong style="color: red;">comisión</strong> corre por parte del cliente, su monto a pagar es: <b>{{GetMontoNetoRecibir() | currency}}</b> el neto a recibir será de: <b>{{ MontoCancelar | currency}}</b></small>
      </div>
      <div>
        <ngx-paypal class="paypal-container" [config]="payPalConfig">
        </ngx-paypal>
      </div>
    </div>
    <div *ngIf="!ValidoPagoPaypal && !ReciberPay">
      <h3 class="message-warning">Lo sentimos estimado cliente el monto a pagar debe ser mínimo $10</h3>
      <br>
    </div>
    <div *ngIf="ReciberPay">
      <app-table-receipt [cantidad]="MontoCancelar"></app-table-receipt>
    </div>
    <button class="button-material-back btn-width-100" routerLink="/pay" style="margin-top: 10px;" (click)="Clear()"
      mat-raised-button>
      Regresar
    </button>
  </div>
</div>
