.cardflexPagoMovil {
    width: 58%;
    grid-template-columns: repeat(auto-fit, minmax(min(107px, 100%), 1fr));
    display: grid;
    gap: 20px;
    justify-items: center;
    max-width: 1125px;
    margin: 20px auto;
    transition: all 0.5s ease-in-out;
  }