$app-dark-blue: rgba(69, 127, 192, 1);
$app-light-blue: rgba(7, 195, 176, 1);
$app-light-blue2: rgb(74 159 255);

.basic-container .mat-step-header .mat-step-icon-selected {
  background-color: #6cb73a;
  color: rgba(22, 20, 20, 0.418);
}


.mat-step-header .mat-step-icon {
  background-color: rgba(35, 77, 167, 0.54);
  color: #fff;
}

.textinvalido {
  color: red;
}

.Topclass {
  margin-top: -30px;
}

.Prefc_i {
  width: 70px;
}

.Prefc_i2 {
  width: 100px;
}

.example-card {
  max-width: 200px;
  min-height: 220px;
  margin: 10px;
}

.TitlePerson {
  font-size: 14px !important;
  margin: 10px 0;
}

.example-header-image {
  background-size: cover;
}

.cardflex {

  // display: flex;
  // align-items: center;
  // justify-content: center;

  @media only screen and (max-width: 1342px) {
    display: block;
    width: 100%;
    height: 100%;
  }

  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(min(160px, 100%), 1fr));
  display: grid;
  gap: 20px;
  justify-items: center;
  max-width: 1125px;
  margin: 20px auto 0;
  transition: all 0.5s ease-in-out;
}

.cardflexPagoMovil {
  width: 48%;
  grid-template-columns: repeat(auto-fit, minmax(min(160px, 100%), 1fr));
  display: grid;
  gap: 20px;
  justify-items: center;
  max-width: 1125px;
  margin: 20px auto;
  transition: all 0.5s ease-in-out;
}

.captcha-box {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid-cards {
  // display: grid;
  // grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  // margin-top: 35px;
  // grid-gap: 4%;
  // grid-auto-rows: minmax(100px, auto);
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(min(87px, 100%), 1fr));
  &.cards-abonados {
    @media only screen and (max-width: 597px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 360px) {
      grid-template-columns: 1fr;
    }
  }
  display: grid;
  gap: 20px;
  justify-items: center;
  max-width: 1125px;
  margin: 20px auto 0;
  transition: all 0.5s ease-in-out;
}

.grid-cards-item {
  // color: #d6d5ef;
  // filter: drop-shadow(0 0 0.75rem #0b255f);
  color: whitesmoke;
  height: 100px !important;
  border-radius: 13px;
  // background-color: #00184e;
  /* background-color: $app-dark-blue; */
  background-color: rgb(54 119 198 / 68%);
  border: none;
  cursor: pointer;
  // margin: 10px;
  // width: 200px;
  margin: 0 !important;
  width: auto !important;
  min-width: 100% !important;
  max-width: 200px !important;

  &.opt-cards-btns {
    border-radius: 22px;
    border: none;
    cursor: pointer;
    margin: 0 !important;
    width: auto !important;
    min-width: 100% !important;
    max-width: 100px !important;
    margin: 0 !important;
    width: auto !important;
    min-width: 100% !important;
    max-width: 200px !important;
    padding: 5px;
    height: auto !important;
  }

  &:hover,
  &:focus,
  &:active {
    // background-color: $app-dark-blue !important;
    background: linear-gradient(36deg, $app-dark-blue 18%, $app-light-blue 100%) !important;
  }

  h3 {
    margin: 7px;
    font-size: 18px;
    &.text-size-lg {
      font-size: 1.5rem !important;
    }
  }

  p {
    font-size: 11px;
  }
}

.opt-cards-container-size {
  width: 100%;
  max-width: 200px;
  border-radius: 9px !important;
  overflow: hidden;
}

.m-0 {
  margin:0 !important;
}

// .grid-cards-item:hover, .grid-cards-item:focus {
//   // background-color: #0e2f79;
//   }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.btn-nav-container-grid {
  width: 100% !important;
  position: absolute;
  display: grid;
  grid-template-columns: 22% 70%;
  /* padding: 37px; */
  gap: 10px;
  margin-top: 4%;
  justify-content: center;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}




@media screen and (max-width: 1342px) {
  .unicard {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.forma-pago {
  margin: 10px;
  width: 200px;
}

@media screen and (max-width: 280px) {
  .forma-pago {
    width: 100%;
  }
}




@media screen and (max-width: 1342px) {

  .unicard {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn-flotante {
  position: absolute;
  top: 10px;
  &.right {
    right: 13px;
  }
  &.left {
    left: 13px;
  }
  transition: all 300ms ease 0ms;
  z-index: 99;
  background: $app-light-blue2;
}

@media only screen and (max-width: 600px) {
  .btn-flotante {
    top: 7px;
    right: 10px;
  }
}

:host ::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

.width_full {
  width: 100%;
}

.flex_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 22vh; */
  margin: 10% 0;
}

.hide {
  display: none;
}

.pay-icon-checked,
.pay-icon-registered,
.pay-icon-rejected {
  transform: scale(2);
  display: flex;
}

.pay-icon-checked {
  color: #2dbd05;
}
.pay-icon-registered {
  color: #f3d070;
}
.pay-icon-rejected {
  color: #e76e6e;
}
swal2-container.swal2-center.img-swal {
  z-index: 9999999999999999999 !important;
  .swal-title {
    position: relative !important;
    z-index: 9999999999 !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    border-radius: 18px !important;
    overflow: hidden;
  }
  .swal2-html-container {
    margin: 0 !important;
    img {
      width: 100% !important;
    }
  }
}

.section-step-container {
  width: 100%;

  .section-step-item {
    width: 100%;

    &.keypad-form-step {
      display: flex;
      // gap: 2rem !important;
      gap: 1rem;
      flex-direction: column;

      .form-dni-section {
        /* width: 50%; */
        width: 60%;
        display: flex;
        /* min-width: 25rem; */
        min-width: fit-content;
      }
      app-keyboard-on-screen {
        width: 100%;
      }
    }

    &.flex-column-stepper {
      display: flex;
      flex-direction: column;
    }
  }
}

.main-title-login-container {
  background: none;
  backdrop-filter: initial;
}
.main-title-login {
  color: ghostwhite;
  font-weight: 400;
  strong {
    font-weight: bold;
  }
}

.form-control-item-container {
  width: 100%;
  min-width: fit-content;
}

label.form-control-label {
  // color: ghostwhite;
  color: #313131;
  font-size: 2rem;
}

.form-control-input {
  display: flex;
  gap: 0.8rem;
  padding: 1.5rem 0;
  width: 100%;
  min-width: fit-content;

  select {
    background: transparent;
    border: 0;
    // color: ghostwhite;
    color: #212121;
    outline: none !important;
    font-weight: 700;
  }

  h4 {
    min-width: 19.4rem;
    padding: 1rem 0.7rem;
    // -webkit-backdrop-filter: blur(26px);
    // backdrop-filter: blur(26px);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    letter-spacing: 3.2px;
    font-size: 2.5rem;
    color: #ffffff;
    // width: fit-content;
    min-width: fit-content;
    width: 100%;
    letter-spacing: 0.7rem;
    max-width: 420px;
    background: lightblue;

    &.input-active-color {
      // background: linear-gradient(36deg, rgb(59 143 239 / 75%) 18%, rgb(48 201 228 / 74%) 100%);
      background: var(--primary-accent-color);
    }


    &.form-input-empty {
      letter-spacing: 1.5rem;
      color: #ffffff8c;
    }
    &.dni-juridico-type {
      max-width: 580px !important;
    }
  }
}

.form-control-btn {
  background: transparent;
    padding: 1rem 0;
    color: ghostwhite;
    border-radius: 3rem;
    font-size: 1.2rem;
    border: 0;
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 19rem;

  &:disabled {
    // background: #f8f8ff63;
    // background: linear-gradient(36deg, rgb(89, 152, 224) 18%, rgb(48, 228, 210) 100%);
    background: var(--primary-accent-color);
    opacity: 0.6;
  }
  &:not(:disabled) {
    // background: linear-gradient(36deg, rgba(69, 127, 192, 1) 18%, rgba(7, 195, 176, 1) 100%);
    // background: linear-gradient(36deg, rgb(89, 152, 224) 18%, rgb(48, 228, 210) 100%);
    background: var(--primary-accent-color);
  }

  svg {
    font-size: 2rem;
  }
}
.text-sm {
  font-size: 0.8rem;
}
.fibex-main-title-logo {
  width: 15rem;
  aspect-ratio: 48 / 19;
  margin: auto;
}
.step-payment-type-btns {
  transition: all 300ms ease 0ms;
  border: 0;
  padding: 0.9rem 2rem;
  border-radius: 99rem;
  display: flex;
  width: fit-content;
  min-width: 10.5rem;
  align-items: center;
  gap: 0.5rem;
  color: white;
  background-color: rgba(54, 119, 198, 0.68);
  min-width: 14rem;
  justify-content: center;
  align-items: center;

  svg {
    font-size: 1.8rem;
  }
  p {
    font-size: 1rem;
  }
}
.step-payment-type-btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.slider-service-item {
  padding: 0.6rem;
  min-height: 4.3rem;
  backdrop-filter: blur(16px);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  place-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-wrap: balance;
  min-width: 8.9rem;
  max-width: 15rem;
  width: fit-content !important;
  font-size: 0.97rem;
}

.links-nav-btns-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;

  .links-btn-navigation {
      width: fit-content;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding: 0.7rem 1rem;
      margin-bottom: 1rem;
      // backdrop-filter: blur(12px);
      background: var(--primary-accent-color);
      border-radius: 2rem;
      overflow: hidden;
      font-size: 1rem;
      color: white;
  }
}

.grid-cards-btn-with-icons {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}
.tabs-login-type-container h6 {
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  color: #ffffffed;
}
.tabs-login-type {
  button {
    padding: 1rem 2rem;
    border-radius: 9rem;
    // background: rgb(223 228 240 / 40%);
    background: lightblue;
    color: white;
    overflow: hidden;
    font-size: 1.3rem;
    // transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    &.activeTab {
      background: linear-gradient(36deg, rgb(89, 152, 224) 18%, rgb(48, 228, 210) 100%);
    }
    svg {
      font-size: 1.9rem;
    }
  }
}
.payment-type-title {
  font-weight: bold;
  font-size: 1rem !important;
}

// .btn-card-customized-1 {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: initial !important;
//   height: initial !important;
//   padding: 2rem 4rem !important;
//   gap: 0.8rem;
//   font-size: 1.8rem;

//   svg {
//     width: 2rem;
//     height: 2rem;
//   }
// }
// .payment-menu-count-container {

//   .payment-menu-btn {
//     padding: 1rem 2rem;
//     border-radius: 9rem;
//     background: var(--primary-accent-color);
//     color: white;
//   }

//   .payment-month {
//       /* padding: 0 2rem; */
//       font-size: 3rem;
//       width: 6rem;
//       text-align: center;
//   }

// }

// .payment-menu-mount-section {
//   display: flex;
//   align-items: center;
//   place-content: center;
//   gap: 1rem;
//   color: #2c2c2c;
//   h1 {
//     font-weight: bold;
//     font-size: 2.5rem;

//     span {
//       color: #848484;
//     }
//   }
//   svg {
//     font-size: 2rem;
//   }
// }

// .payment-menu-success-btn {
//   max-width: 800px;
//   margin: 0 auto;
// }

// .payment-menu-months-grid {
//   width: 100%;
//   grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
//   display: grid;
//   gap: 20px;
//   justify-items: center;

//   .payment-grid-item {
//     display: flex !important;
//     flex-direction: column !important;
//     border-radius: 16px;
//     padding: 23px;
//     max-width: 300px !important;
//     width: 100%;
//     font-size: 1.9rem;
//     border-radius: 99px;
//     text-align: center;

//     background: linear-gradient(36deg, rgb(222 237 255) 18%, rgb(203 220 255) 100%);
//     border: 0.3rem solid rgb(89, 152, 224);
//     color: rgb(89, 152, 224);

//     &.payment-grid-item-active {
//       background: linear-gradient(36deg, rgb(89, 152, 224) 18%, rgb(48, 228, 210) 100%);
//       color: white;
//       border: initial;
//     }
//   }
// }
.input-small-text-size {
  font-size: 1.7rem !important;
  letter-spacing: 3px !important;
}
.title-info-container {
  padding: 0.7rem;
  width: 100%;
  display: flex;
  justify-content: center;

  h4 {
    @apply text-2xl font-bold mb-4 text-center;
    // margin: 0;
    color: #313131;
  }
}
.user-list-select-content {
  .user-list-select-grid {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    display: flex;
    width: 100%;
    justify-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;


  }
}
.text-center {
  text-align: center !important;
}
