<form class="form-login" id="form-offer">

  <div class="form-login__offer">
    <span *ngIf="!nameClient" class="button-link__bold button-link button__secondary btn-width-70">
      <p>
        Registre su pago
      </p>
      <p>
        Servicio de Internet
      </p>
    </span>
  </div>

  <div [className]="nameClient ? 'form-login__group2' : 'form-login__group'" class="form-login__group">
    <!-- Mensajes de alerta -->
    <div>
      <h3 class="message-succes" *ngIf="payReported && !playDuplicated" (click)="payReported = !payReported">Gracias por
        su pago, el mismo se encuetra en proceso de conciliación ({{ Contar }})</h3>
      <h3 class="message-succes" *ngIf="CuentaAnulada && !playDuplicated" (click)="CuentaAnulada = !CuentaAnulada">No es
        posible registrar su pago porque se cuenta está ANULADA o RETIRADA ({{ Contar }})</h3>
      <h3 class="message-warning" *ngIf="playDuplicated && !payReported" (click)="playDuplicated = !playDuplicated">No
        es posible registrar el mismo pago dos veces ({{ Contar }})</h3>
      <h3 class="message-warning" *ngIf="ErrorRegistrando">{{MessageErrorRegistrado}} ({{ Contar }})</h3>
    </div>
    <!-- / Mensajes de alerta -->

    <mat-stepper [linear]="true" #stepper *ngIf="!payReported || (CuentaAnulada&&!playDuplicated) || ErrorRegistrando || (playDuplicated&&!payReported)">

      <!-- Menú ppal si la ruta no tiene la cedula del cliente -->
      <mat-step>
        <ng-template matStepLabel>Cliente</ng-template>

        <div class="form-login__item" fxFlex="1 0 auto" fxLayout="column">
          <mat-form-field appearance="outline" [formGroup]="firstFormFibex">
            <mat-label>Cédula/RIF del Cliente</mat-label>
            <input formControlName="dni" type="number" matInput required NumbersOnly="true" #inputDni
              [readonly]="readonlyDNI">
            <mat-icon matSuffix style="cursor: pointer"
              (click)="dni?.valid && captchaService.validControl ? searchServicesv2(inputDni,false,true) : ''">search</mat-icon>
            <mat-error *ngIf="firstFormFibex.get('dni')?.hasError('required')">
              La cédula es requerida
            </mat-error>
          </mat-form-field>
          <!-- Si no tiene contratos activos -->
          <ng-container *ngIf="listContratos.length==0">
            <captcha-thomas [hidden]="verifyDNI && captchaService.validControl" class="captcha-box"></captcha-thomas>
          </ng-container>
          <!-- / Si no tiene contratos activos -->

          <!-- Muestra de boton consultar -->
          <button *ngIf="listContratos.length==0 || listContratos.length==1" class="button-material-next btn-width-100"
            mat-raised-button type="button" (click)="searchServicesv2(inputDni,false,true)"
            [disabled]="dni?.invalid || !captchaService.validControl">
            Consultar
          </button>
          <!-- /Muestra de boton consultar -->

          <!-- En caso de tener dos o más abonados -->
          <h3 class="message-succes" *ngIf="listContratos.length>1">Por favor seleccione su Nro. de Abonado</h3>
          <div *ngIf="listContratos.length>1" class="grid-cards animated fadeInUp">
            <button *ngFor="let contrato of listContratos" class="grid-cards-item"
              (click)="contractSelected(contrato,true)">
              <h3>
                {{contrato.contrato}}
              </h3>
              <p>
                {{contrato.status_contrato}}
              </p>
            </button>
          </div>
          <!--  / En caso de tener dos o más abonados -->
        </div>
      </mat-step>

      <!--/ Fin de Menú ppal -->

      <!-- Menú de métodos de pago -->
      <mat-step *ngIf="AppFibex" class="CardPpal">

        <div *ngIf="nameClient && saldoBs && saldoUSD && registerPayService.linkedToContractProcess != 'approved'"
          class="desc-user">
          <div>
            <h4 class="name-client">
              {{nameClient}}
            </h4>
            <h4 class="name-client">
              {{saldoUSD | negativeAmount}} USD | {{saldoBs | negativeAmount}} Bs {{saldoText}}
            </h4>
          </div>
          <div>
            <h4 class="name-client">
              Servicio: {{ paquete }}
            </h4>
            <h4 class="name-client">
              Subscripción: {{subscription}} USD
            </h4>
          </div>
        </div>
        <div *ngIf="nameClient && saldoBs && saldoUSD && registerPayService.linkedToContractProcess == 'approved'"
          class="desc-user">
          <div>
            <h4 class="name-client">
              CI/RIF: {{nameClient}}
            </h4>
            <h4 class="name-client">
              Monto a Pagar: {{saldoUSD | negativeAmount}} USD | {{saldoBs | negativeAmount}} Bs
            </h4>
          </div>
          <!-- <div>
            <h4 class="name-client">
            </h4>
            <h4 class="name-client">
            </h4>
          </div> -->
        </div>

        <ng-template matStepLabel>Tipo de pago</ng-template>
        <div class="cardflex">
          <div *ngFor="let option of PagoMetodosHTML2" class="unicard">
            <span [ngSwitch]="option.tipopago">

              <span *ngSwitchCase="'FormasDePago'" class="grid-cards animated fadeInUp">

                   <button class="grid-cards-item" style="margin: 10px; width: 200px;" (click)="FormaPago(option.idpago)">
                      <h3>
                        {{option.tittle}}
                      </h3>
                    </button>

                </span>

                <span *ngSwitchDefault>

                  <mat-card *ngIf="!option.omitir" class="example-card">
                    <mat-card-header>
                      <mat-card-title class="TitlePerson">{{option.tipopago}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="{{option.image}}" alt="{{option.alt}}">

                    <mat-card-actions>
                      <button mat-button *ngIf="option.tipopago !='Criptomoneda' && option.tipopago !='Otros'"
                        (click)="TipoPago(option.idpago)" class="button-material-next btn-width-100"
                        matStepperNext>SELECCIONAR
                      </button>
                      <button mat-button *ngIf="option.tipopago =='Criptomoneda' || option.tipopago =='Otros'"
                        (click)="TipoPago(option.idpago)" class="button-material-next btn-width-100">SELECCIONAR
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </span>

            </span>
          </div>
        </div>
        <button *ngIf="BackFormaPago" class="button-material-back btn-width-100 animated fadeInUp" (click)="FormaPago(31)" mat-raised-button>
          REGRESAR
        </button>
      </mat-step>
      <!-- / Fin de métodos de pago -->

      <!-- Transferencias -->
      <div
        *ngIf="!ConsultarPagoMovilboolean && !DebitoCreditoboolean && !RegistrarPagoMovilboolean && AppFibex && !Criptomoneda && !Otros && !PrimeraVez">
        <mat-step [stepControl]="firstFormFibex">
          <div *ngIf="nameClient && saldoBs && saldoUSD && registerPayService.linkedToContractProcess != 'approved'"
            class="desc-user">
            <div>
              <h4 class="name-client">
                {{nameClient}}
              </h4>
              <h4 class="name-client">
                {{saldoUSD | negativeAmount}} USD | {{saldoBs | negativeAmount}} Bs {{saldoText}}
              </h4>
            </div>
            <div>
              <h4 class="name-client">
                Servicio: {{ paquete }}
              </h4>
              <h4 class="name-client">
                Subscripción: {{subscription}} USD
              </h4>
            </div>
          </div>
          <div *ngIf="nameClient && saldoBs && saldoUSD && registerPayService.linkedToContractProcess == 'approved'"
            class="desc-user">
            <div>
              <h4 class="name-client">
                CI/RIF: {{nameClient}}
              </h4>
              <h4 class="name-client">
                Monto a Pagar: {{saldoUSD | negativeAmount}} USD | {{saldoBs | negativeAmount}} Bs
              </h4>
            </div>
            <div>
              <h4 class="name-client">
                <!-- Servicio: {{ paquete }} -->
              </h4>
              <h4 class="name-client">
                <!-- Subscripción: {{subscription}} USD -->
              </h4>
            </div>
          </div>
          <form [formGroup]="firstFormFibex">
            <ng-template matStepLabel>Datos de pago</ng-template>
            <div class="form-login__item" fxFlex="1 0 auto" fxLayout="column">

              <mat-form-field appearance="outline">
                <mat-label>Cédula/RIF del Cliente</mat-label>
                <input type="number" matInput required formControlName="dni" NumbersOnly="true" #inputDni
                  (blur)="searchServicesv2(inputDni)">
                <mat-icon matSuffix (click)="searchServicesv2(inputDni, false)" style="cursor: pointer">search</mat-icon>
                <mat-error *ngIf="firstFormFibex.get('dni')?.hasError('required')">
                  La cédula requerida
                </mat-error>
              </mat-form-field>
              <p style="text-align:center;">Seleccione Banco Receptor (FIBEX)</p>
              <mat-form-field appearance="outline">
                <mat-label>Banco Receptor (FIBEX)</mat-label>
                <mat-select formControlName="bank">
                  <mat-option *ngFor="let bank of banksFiltered" [value]="bank.Banco" (click)="bankSelected(bank)"
                    (blur)="SendOption(0,1,bank.Banco)">
                    {{bank.Banco}} ** {{bank.referencia_cuenta }}
                  </mat-option>
                </mat-select>
                <mat-error>El banco es obligatorio</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input id="InputEmail" matInput required formControlName="email" #inputEmail
                  (blur)="SendOption(0,2,inputEmail.value); VerifyEmail()" (keypress)="validateEmail($event)">
                <mat-error *ngIf="firstFormFibex.get('email')?.hasError('required')">El e-mail es requerido</mat-error>
                <mat-error *ngIf="firstFormFibex.get('email')?.hasError('pattern')">E-mail no es válido</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Abonado</mat-label>
                <mat-select formControlName="nroContrato">
                  <mat-option *ngFor="let contrato of listContratos" [value]="contrato.contrato"
                    (click)="contractSelected(contrato,false)" (blur)="SendOption(0,3,contrato.contrato)" required>
                    {{contrato.contrato}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="firstFormFibex.get('nroContrato')?.hasError('required')">El número de abonado es
                  requerido</mat-error>
                <mat-error *ngIf="dniConsulted && listContratos.length === 0">No exite abonado, verifique el documento
                  de
                  identidad</mat-error>
              </mat-form-field>

              <ng-container *ngIf="possibleWithholdingAgent && !Kiosco">
                <mat-form-field appearance="outline">
                  <mat-label>Es usted agente de retención?</mat-label>
                  <mat-select [(value)]="selectedRetentionOption" (selectionChange)="resetParams()">
                    <mat-option value="2">Si</mat-option>
                    <mat-option value="1">No</mat-option>
                  </mat-select>
                  <mat-error>La respuesta es obligatoria</mat-error>
                </mat-form-field>
              </ng-container>

              <mat-form-field appearance="outline">
                <mat-label>Monto Pagado
                  <strong><span *ngIf="BancoNacional('') && BancoNacional('') !='EUR'">En Bolivares</span></strong>
                  <strong><span *ngIf="!BancoNacional('')">En Dólares</span></strong>
                  <strong><span *ngIf="BancoNacional('') =='EUR'">En Euros</span></strong>
                </mat-label>
                <input matInput formControlName="amount" required #inputAmount
                  (blur)="incorrectBankAndAmount(inputAmount.value)">
                <mat-error *ngIf="firstFormFibex.get('amount')?.hasError('required')">Monto requerido</mat-error>
                <mat-error *ngIf="firstFormFibex.get('amount')?.hasError('pattern')">Escriba el monto seguido dos
                  decimales separado por punto, ejemplo: 125.00</mat-error>
                <mat-error
                  *ngIf="firstFormFibex.hasError('isNegative') && firstFormFibex.get('amount')?.hasError('required')">El
                  monto no puede ser negativo</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" *ngIf="!errorDate">
                <mat-label>Fecha del pago</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" [max]="dateToDay" #inputDate
                  (ngModelChange)="SendOption(0,5,$event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="firstFormFibex.get('date')?.hasError('required')">La fecha del pago es requerida
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" *ngIf="errorDate">
                <mat-label>Fecha del pago</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="date" [max]="dateToDay" #inputDate
                  (ngModelChange)="SendOption(0,5,$event)">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="firstFormFibex.get('date')?.hasError('required')">La fecha del pago es requerida
                </mat-error>
              </mat-form-field>


            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="btn-width-100">
              <button class="button-material-next btn-width-100" mat-raised-button (click)="nextStep(true)"
                type="button" [disabled]="disbaleButtonIfAmountIsInvalid ||
                                      disbaleButtonIfAmountIs0 ||
                                      firstFormFibex.invalid ||
                                      disbaleButtonIfDateIsInvalid ||
                                      disableBtnAmountInvalid ||
                                      disableLengthContrato ||
                                      (possibleWithholdingAgent && selectedRetentionOption == null) ||
                                      enableBtn">
                Siguiente
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormFibex">
          <form [formGroup]="secondFormFibex">
            <ng-template matStepLabel>Referencia</ng-template>
            <div class="form-login__item">

              <mat-form-field appearance="outline" *ngIf="!BancoNacional(banco)">
                <mat-label>Nombre titular cuenta </mat-label>
                <input matInput formControlName="nameTitular" #inputNameT (blur)="SendOption(1,0,inputNameT.value)">
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="!BancoNacional(banco)">
                <mat-label>Email titular cuenta</mat-label>
                <input matInput formControlName="emailTitular" #inputEmailT (blur)="SendOption(1,1,inputEmailT.value)">
              </mat-form-field>

              <p>Es el número de referencia del BANCO</p>
              <mat-form-field appearance="outline">
                <mat-label>Número de comprobante</mat-label>
                <input matInput formControlName="voucher" required #inputVouche
                  (blur)="SendOption(1,2,inputVouche.value);">
                <mat-error *ngIf="secondFormFibex.get('voucher')?.hasError('required')">Número de comprobante es
                  requerido
                </mat-error>
              </mat-form-field>

              <h3 *ngIf="ComprobantesPago.length>0" style="text-align: center;">Últimos pagos realizados</h3><br>
              <table *ngIf="ComprobantesPago.length>0" mat-table [dataSource]="ComprobantesPago"
                class="mat-elevation-z8">

                <ng-container matColumnDef="Comprobante">
                  <th mat-header-cell *matHeaderCellDef> Comprobante </th>
                  <td mat-cell *matCellDef="let element"> {{element.Referencia}} </td>
                </ng-container>

                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef> Estado Comprobante </th>
                  <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                </ng-container>

                <ng-container matColumnDef="Fecha">
                  <th mat-header-cell *matHeaderCellDef> Fecha </th>
                  <td mat-cell *matCellDef="let element"> {{element.Fecha | date: 'dd/MM/yyyy'}} </td>
                </ng-container>
                <!-- <ng-container matColumnDef="buttons">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell> -->
                <!-- <mat-cell *matCellDef="let element"> -->
                <!-- <div fxFlex="row" fxLayoutAlign="end center">
                      <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                      </button>
                      <mat-menu #moreMenu="matMenu">
                        <button (click)="openDialogCmprobante(element)" mat-menu-item>
                          <mat-icon>chrome_reader_mode</mat-icon>
                          <span>Ver detalle</span>
                        </button>
                      </mat-menu>
                    </div> -->

                <!-- </mat-cell> -->
                <!-- </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="btn-flex-center">
              <button class="button-material-next btn-width-70" (click)="ValidateLastReferencia(inputVouche.value)"
                mat-raised-button type="button" [disabled]="this.secondFormFibex.invalid">
                Siguiente
              </button>

              <button class="button-material-back btn-width-30" (click)="ScrollUp($event)" mat-raised-button
                matStepperPrevious>
                Regresar
              </button>

            </div>
          </form>
        </mat-step>

        <mat-step *ngIf="!Kiosco" [stepControl]="thirdFormFibex">
          <form [formGroup]="thirdFormFibex">
            <ng-template matStepLabel>Comprobante</ng-template>
            <div class="form-login__item">
              <p *ngIf="showMessageErrorUpload" class="message-error-upload">
                <!-- Por favor, avanze con el registro y envie su comprobante de pago a pagoshogar@fibextelecom.com -->
                Por favor intente más tarde, puede enviar su comprobante como altenativa a pagoshogar@fibextelecom.com
              </p>
              <p *ngIf="!ValidExtension" class=" message-error-upload textinvalido">
                <!-- Por favor, avanze con el registro y envie su comprobante de pago a pagoshogar@fibextelecom.com -->
                Formato inválido solo se acepta: jpg, png, jpeg y pdf.
              </p>
              <button class="btn-uplaod-image button-material-upload" color="warn" mat-raised-button
                *ngIf="imageUploaded" (click)="deleteImagePay()">
                Eliminar comprobante
              </button>
              <div *ngIf="imageUrl != ''" class="image-pay">
                <img *ngIf="extn!='pdf'" [src]="imageUrl" width="200px">
                <img *ngIf="extn=='pdf'" src="assets/images/PDF_file.png" width="100px">
              </div>
              <button class="btn-uplaod-image button-material-upload" mat-raised-button (click)="uploadFile.click()"
                *ngIf="!imageUploaded && !showMessageErrorUpload">
                Click aquí para subir imagen
              </button>
              <br>
              <div *ngIf="imageUrl == '' && !uploadingImg" class="image-pay" (click)="uploadFile.click()">
                <span style="cursor: pointer"><img src="assets/images/Camara_Icono.png" width="200px"></span>
              </div>
              <div class="spinner-pay" *ngIf="uploadingImg">
                <mat-spinner></mat-spinner>
              </div>
              <input hidden #uploadFile type="file" formControlName="img" (change)="uploadImagePayment2($event)"
                accept="image/*" #inputIMG (blur)="SendOption(2,0,inputIMG.value)">
              <!-- <mat-error *ngIf="thirdFormFibex.get('img')?.hasError('required')">La imagen es requerida</mat-error> -->
              <mat-form-field appearance="outline">
                <mat-label>Notas</mat-label>
                <input matInput formControlName="note" #inputNote (blur)="SendOption(2,1,inputNote.value)">
              </mat-form-field>
              <div class="btn-flex-center">
                <button class="button-material-next btn-width-70" (click)="imageNotUploaded()" mat-raised-button
                  matStepperNext [disabled]="uploadingImg || showMessageErrorUpload || this.thirdFormFibex.invalid"
                  type="button">
                  Siguiente
                </button>
                <button class="button-material-back btn-width-30 " mat-raised-button matStepperPrevious
                  [disabled]="uploadingImg">Regresar</button>

              </div>
            </div>
          </form>
        </mat-step>

        <ng-container *ngIf="possibleWithholdingAgent && selectedRetentionOption == 2 && !Kiosco">
          <mat-step [stepControl]="fourthFormFibex">
            <form [formGroup]="fourthFormFibex">
              <ng-template matStepLabel>Retención</ng-template>
              <div class="form-login__item">
                <p *ngIf="showMessageErrorUpload" class="message-error-upload">
                  <!-- Por favor, avanze con el registro y envie su comprobante de pago a pagoshogar@fibextelecom.com -->
                  Por favor intente más tarde, puede enviar su comprobante como altenativa a pagoshogar@fibextelecom.com
                </p>
                <p *ngIf="!ValidRetentionImgExtension" class=" message-error-upload textinvalido">
                  <!-- Por favor, avanze con el registro y envie su comprobante de pago a pagoshogar@fibextelecom.com -->
                  Formato inválido solo se acepta: jpg, png, jpeg y pdf.
                </p>
                <button class="btn-uplaod-image button-material-upload" color="warn" mat-raised-button
                  *ngIf="retentionimageUploaded" (click)="deleteRetentionImagePay()">
                  Eliminar imagen del comprobante de retención de impuestos.
                </button>
                <div *ngIf="retentionImageUrl != ''" class="image-pay">
                  <img *ngIf="extn!='pdf'" [src]="retentionImageUrl" width="200px">
                  <img *ngIf="extn=='pdf'" src="assets/images/PDF_file.png" width="100px">
                </div>
                <button class="btn-uplaod-image button-material-upload" mat-raised-button (click)="uploadFile.click()"
                  *ngIf="!retentionimageUploaded && !showMessageErrorUpload">
                  Subir imagen de la galería del comprobante de retención de impuestos.
                </button>
                <br>
                <div *ngIf="retentionImageUrl == '' && !uploadingRetentionImg" class="image-pay"
                  (click)="uploadFile.click()">
                  <span style="cursor: pointer"><img src="assets/images/Camara_Icono.png" width="200px"></span>
                </div>
                <div class="spinner-pay" *ngIf="uploadingRetentionImg">
                  <mat-spinner></mat-spinner>
                </div>
                <input hidden #uploadFile type="file" formControlName="retentionImg"
                  (change)="uploadRetentionImagePayment2($event)" accept="image/*" #inputIMG
                  (blur)="SendOption(2,0,inputIMG.value)">
                <!-- <mat-error *ngIf="fourthFormFibex.get('retentionImg')?.hasError('required')">La imagen es requerida</mat-error> -->
                <mat-form-field appearance="outline">
                  <mat-label>Monto de retención</mat-label>
                  <input matInput formControlName="retentionAmount" #inputNote (blur)="considerWithholdingAmount()">
                  <mat-error *ngIf="retentionAmount?.hasError('required')">Monto requerido</mat-error>
                  <mat-error *ngIf="retentionAmount?.hasError('pattern')">Escriba el monto seguido dos
                    decimales separado por punto, ejemplo: 125.00</mat-error>
                  <mat-error *ngIf="firstFormFibex.hasError('isNegative') && retentionAmount?.hasError('required')">El
                    monto no puede ser negativo</mat-error>
                </mat-form-field>
                <div class="btn-flex-center">
                  <button class="button-material-next btn-width-70" (click)="imageNotUploaded()" mat-raised-button
                    (click)="nextStepWithRetention(true)"
                    [disabled]="uploadingRetentionImg || showMessageErrorUpload || this.fourthFormFibex.invalid"
                    type="button">
                    Siguiente
                  </button>
                  <button class="button-material-back btn-width-30 " mat-raised-button matStepperPrevious
                    [disabled]="uploadingRetentionImg">Regresar</button>

                </div>
              </div>
            </form>
          </mat-step>
        </ng-container>

        <mat-step>
          <ng-template matStepLabel>Confirmación</ng-template>
          <div class="spinner-pay" *ngIf="sendingPay">
            <mat-spinner></mat-spinner>
          </div>

          <h2 class="message-warning" *ngIf="!sendingPay">Por favor verifique sus datos y confirme la operación.</h2>
          <div class="card-pay">
            <div class="invoice-box">
              <table cellpadding="0" cellspacing="0">
                <tr class="top">
                  <td colspan="2">
                    <table>
                      <tr>
                        <td class="title">
                          <img src="https://crm.thomas-talk.me/uploads/company/9a837ebc624921b826b5e1687f9001c6.png"
                            style="width: 60%; max-width: 300px" />
                        </td>

                        <td>
                          Creada en: {{ dateToDay | date: 'dd/MM/yyyy' }}<br />
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr class="information">
                  <td colspan="2">
                    <table>
                      <tr>
                        <td>
                          Servicio: {{ paquete }}<br />
                          Subscripción: {{subscription}} USD <br />
                          Monto pendiente: {{saldoUSD | negativeAmount}} USD | {{saldoBs | negativeAmount}} Bs<br />
                          <strong>Banco receptor: {{bank?.value}}</strong>
                        </td>

                        <td>
                          {{nameClient}}<br />
                          DNI/RIF {{dni?.value}}<br />
                          {{email?.value}}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr class="heading">
                  <td>Usted va reportar un pago de</td>

                  <td>Monto #</td>
                </tr>

                <tr class="details">
                  <td>{{paquete}}</td>

                  <td *ngIf="BancoNacional(bank?.value)!='EUR'">{{totalAmount}} {{BancoNacional(bank?.value) ? 'Bs.' :
                    'USD' }}</td>
                  <td *ngIf="BancoNacional(bank?.value)=='EUR'">{{totalAmount}} EUR</td>
                </tr>

                <tr class="total">
                  <td></td>

                  <td *ngIf="BancoNacional(bank?.value)!='EUR'">Total: {{totalAmount}} {{BancoNacional(bank?.value) ?
                    'Bs.' : 'USD' }}</td>
                  <td *ngIf="BancoNacional(bank?.value)=='EUR'">Total: {{totalAmount}} EUR</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="btn-flex-center">
            <button class="button-material-next btn-width-70" mat-raised-button (click)="savePayment()"
              [disabled]="DisableReg || showMessageErrorUpload">Reportar pago</button>
            <button class="button-material-back btn-width-30" mat-raised-button (click)="resetStepper()">Editar
              datos</button>
          </div>
        </mat-step>
      </div>
      <!-- / Fin de Transferencias -->

      <!-- Pago Móvil -->
      <mat-step *ngIf="ConsultarPagoMovilboolean || RegistrarPagoMovilboolean" [stepControl]="TypeForm">
        <div *ngIf="!ReciboPay">
          <div *ngIf="nameClient && saldoBs && saldoUSD && registerPayService.linkedToContractProcess != 'approved'"
            class="desc-user">
            <div>
              <h4 class="name-client">
                {{nameClient}}
              </h4>
              <h4 class="name-client">
                {{saldoUSD | negativeAmount}} USD | {{saldoBs | negativeAmount}} Bs {{saldoText}}
              </h4>
            </div>
            <div>
              <h4 class="name-client">
                Servicio: {{ paquete }}
              </h4>
              <h4 class="name-client">
                Subscripción: {{subscription}} USD
              </h4>
            </div>
          </div>
          <div *ngIf="nameClient && saldoBs && saldoUSD && registerPayService.linkedToContractProcess == 'approved'"
            class="desc-user">
            <div>
              <h4 class="name-client">
                CI/RIF: {{nameClient}}
              </h4>
              <h4 class="name-client">
                Monto a Pagar: {{saldoUSD | negativeAmount}} USD | {{saldoBs | negativeAmount}} Bs
              </h4>
            </div>
            <div>
              <h4 class="name-client">
                <!-- Servicio: {{ paquete }} -->
              </h4>
              <h4 class="name-client">
                <!-- Subscripción: {{subscription}} USD -->
              </h4>
            </div>
          </div>
        </div>

        <mat-form-field *ngIf="!ReciboPay" appearance="outline">
          <mat-label>Banco</mat-label>
          <mat-select [value]=SelectPagoc2p #valor>
            <mat-option (click)="SelectedPagoC2P(valor)" value="mercantil">Mercantil</mat-option>
          </mat-select>
        </mat-form-field>

        <form *ngIf="ConsultarPagoMovilboolean && !ReciboPay" [formGroup]="PgMovilForm">
          <mat-label>Cédula de identidad</mat-label><br>
          <mat-form-field appearance="outline" class="Prefc_i">
            <mat-select formControlName="prec_i">
              <mat-option value="V">V</mat-option>
              <mat-option value="E">E</mat-option>
              <mat-option value="J">J</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input type="number" matInput required formControlName="c_i" NumbersOnly="true" #inputDni>
            <mat-error *ngIf="PgMovilForm.get('c_i')?.hasError('minlength')">
              La cédula debe contener al menos 6 carácteres
            </mat-error>
            <mat-error *ngIf="PgMovilForm.get('c_i')?.hasError('required')">
              La cédula es requerida
            </mat-error>
          </mat-form-field>

          <div class="form-login__item">
            <ng-template matStepLabel>Pago Móvil</ng-template>

            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="tlforiginReg"
                (keypress)="keypressControPhones($event, 'tlforiginReg',PgMovilForm)" required type="text"
                placeholder="Ejemplo: 584121234567">
              <mat-error *ngIf="PgMovilForm.get('tlforiginReg')?.errors">
                <p *ngIf="PgMovilForm.get('tlforiginReg')?.hasError('required')">El número es requerido</p>
                <p *ngIf="PgMovilForm.get('tlforiginReg')?.hasError('pattern')">Número incorrecto ejemplo: 584241234567
                </p>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Número de comprobante</mat-label>
              <input matInput formControlName="referencia" required #inputVouche>
              <mat-error *ngIf="PgMovilForm.get('referencia')?.hasError('required')">Número de comprobante es requerido
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Fecha del pago</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="datepgmovil" [max]="dateToDay" #inputDate>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="PgMovilForm.get('datepgmovil')?.hasError('required')">La fecha del pago es requerida
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Monto Pagado
                <strong><span>En Bolivares</span></strong>
              </mat-label>
              <input matInput formControlName="cantidad" required #inputAmount>
              <mat-error *ngIf="PgMovilForm.get('cantidad')?.hasError('required')">Monto requerido</mat-error>
              <mat-error *ngIf="PgMovilForm.get('cantidad')?.hasError('pattern')">Escriba el monto seguido dos decimales
                separado por punto, ejemplo: 125.00</mat-error>
              <mat-error
                *ngIf="PgMovilForm.hasError('isNegative') && PgMovilForm.get('cantidad')?.hasError('required')">El monto
                no puede ser negativo</mat-error>
            </mat-form-field>
          </div>
        </form>

        <form *ngIf="RegistrarPagoMovilboolean && !ReciboPay" [formGroup]="PgMovilRegForm">
          <mat-label>Cédula de identidad</mat-label><br>
          <mat-form-field appearance="outline" class="Prefc_i">
            <mat-select formControlName="pref_ci">
              <mat-option value="V">V</mat-option>
              <mat-option value="E">E</mat-option>
              <mat-option value="J">J</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input type="number" matInput required formControlName="c_i" NumbersOnly="true" #inputDni>
            <mat-error *ngIf="PgMovilRegForm.get('c_i')?.hasError('minlength')">
              La cédula debe contener al menos 6 carácteres
            </mat-error>
            <mat-error *ngIf="PgMovilRegForm.get('c_i')?.hasError('required')">
              La cédula es requerida
            </mat-error>
          </mat-form-field>

          <div class="form-login__item">
            <ng-template matStepLabel>Pago Móvil</ng-template>

            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="tlfdestin"
                (keypress)="keypressControPhones($event, 'tlfdestin',PgMovilRegForm)" required type="text"
                placeholder="Ejemplo: 584121234567">
              <mat-error *ngIf="PgMovilRegForm.get('tlfdestin')?.errors">
                <p *ngIf="PgMovilRegForm.get('tlfdestin')?.hasError('required')">El número es requerido</p>
                <p *ngIf="PgMovilRegForm.get('tlfdestin')?.hasError('pattern')">Número incorrecto ejemplo: 584241234567
                </p>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Cantidad a pagar
                <strong><span>En Bolivares</span></strong>
              </mat-label>
              <input matInput formControlName="amountPm" required #inputAmount>
              <mat-error *ngIf="PgMovilRegForm.get('amountPm')?.hasError('required')">Monto requerido</mat-error>
              <mat-error *ngIf="PgMovilRegForm.get('amountPm')?.hasError('pattern')">Escriba el monto seguido dos
                decimales separado por punto, ejemplo: 125.00</mat-error>
              <mat-error
                *ngIf="PgMovilRegForm.hasError('isNegative') && PgMovilRegForm.get('amountPm')?.hasError('required')">El
                monto no puede ser negativo</mat-error>
            </mat-form-field>
          </div>
        </form>

        <div *ngIf="ReciboPay">
          <app-table-receipt [amountPm]="amountPm" [cantidad]="cantidad"></app-table-receipt>
        </div>

        <!-- Con este regresar vuelve a consultar la cuenta del usuario solo cuando emite un pago -->
        <div *ngIf="ReciboPay" fxLayout="row" fxLayoutAlign="center center" class="btn-flex-center">
          <button class="button-material-back btn-width-30"
            (click)="ResetFormCD(); lastDni=''; searchServicesv2(dni,false,false)" mat-raised-button type="button"
            matStepperPrevious>
            Regresar
          </button>
        </div>

        <div *ngIf="ConsultarPagoMovilboolean && !ReciboPay" fxLayout="row" fxLayoutAlign="center center"
          class="btn-flex-center">
          <button [disabled]="!PgMovilForm.valid" class="button-material-next btn-width-70" mat-raised-button
            type="button" (click)="AmountIncorrectConfirm(cantidad?.value,'this.ComprobarPgoMovil()','c2pnacional')">
            Procesar orden
          </button>
          <button class="button-material-back btn-width-30" (click)="ScrollUp($event)" mat-raised-button type="button"
            matStepperPrevious>
            Regresar
          </button>
        </div>

        <div *ngIf="RegistrarPagoMovilboolean && !ReciboPay" fxLayout="row" fxLayoutAlign="center center"
          class="btn-flex-center">
          <button [disabled]="!PgMovilRegForm.valid || PinEnviado" class="button-material-next btn-width-70"
            mat-raised-button type="button"
            (click)="AmountIncorrectConfirm(amountPm?.value,'this.ClaveAuthPgoMovil()','c2pmercantil')">
            Solicitar pin de autorización {{Minutes}}{{ConcatenaTimer}}{{Second}}
          </button>
          <button class="button-material-back btn-width-30" (click)="ScrollUp($event); ResetFormCD()" mat-raised-button
            type="button" matStepperPrevious>
            Regresar
          </button>
        </div>
      </mat-step>
      <!-- / Fin de Pago Móvil -->

      <!-- Crédito o Débito -->
      <mat-step *ngIf="DebitoCreditoboolean" [stepControl]="DebitoCredito">
        <div *ngIf="!ReciboPay">
          <div *ngIf="nameClient && saldoBs && saldoUSD && registerPayService.linkedToContractProcess != 'approved'"
            class="desc-user">
            <div>
              <h4 class="name-client">
                {{nameClient}}
              </h4>
              <h4 class="name-client">
                {{saldoUSD | negativeAmount}} USD | {{saldoBs | negativeAmount}} Bs {{saldoText}}
              </h4>
            </div>
            <div>
              <h4 class="name-client">
                Servicio: {{ paquete }}
              </h4>
              <h4 class="name-client">
                Subscripción: {{subscription}} USD
              </h4>
            </div>
          </div>
          <div *ngIf="nameClient && saldoBs && saldoUSD && registerPayService.linkedToContractProcess == 'approved'"
            class="desc-user">
            <div>
              <h4 class="name-client">
                CI/RIF: {{nameClient}}
              </h4>
              <h4 class="name-client">
                Monto a Pagar: {{saldoUSD | negativeAmount}} USD | {{saldoBs | negativeAmount}} Bs
              </h4>
            </div>
            <div>
              <h4 class="name-client">
                <!-- Servicio: {{ paquete }} -->
              </h4>
              <h4 class="name-client">
                <!-- Subscripción: {{subscription}} USD -->
              </h4>
            </div>
          </div>
          <ng-template matStepLabel>Datos de pago</ng-template>
          <form [formGroup]="DebitoCredito">
            <div>
              <mat-label>Cédula de identidad</mat-label><br>
              <mat-form-field appearance="outline" class="Prefc_i">
                <mat-select formControlName="pref_ci">
                  <mat-option value="V">V</mat-option>
                  <mat-option value="E">E</mat-option>
                  <mat-option value="J">J</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input type="number" matInput required formControlName="c_i" NumbersOnly="true" #inputDni>
                <mat-error *ngIf="DebitoCredito.get('c_i')?.hasError('minlength')">
                  La cédula debe contener al menos 6 carácteres
                </mat-error>
                <mat-error *ngIf="DebitoCredito.get('c_i')?.hasError('required')">
                  La cédula es requerida
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Form Para Debito o Credito Creditoboolean=true (Es para credito) -->
            <div class="form-login__item">
              <mat-form-field *ngIf="!Creditoboolaean" appearance="outline">
                <mat-label>Tipo de cuenta</mat-label>
                <mat-select formControlName="typeCuenta">
                  <mat-option *ngFor="let Acount of TypeAcountDC" [value]="Acount.type">
                    {{Acount.cuenta}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="DebitoCredito.get('typeCuenta')?.hasError('required')">La cuenta es
                  obligatoria</mat-error>
                <mat-error *ngIf="DebitoCredito.get('typeCuenta')?.hasError('maxlength')">La tarjeta no debe ser mayor a
                  18 dígitos</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Nro. de tarjeta</mat-label>
                <input matInput required formControlName="Ncard" NumbersOnly="true">
                <mat-error *ngIf="DebitoCredito.get('Ncard')?.hasError('required')">
                  El número de tarjeta es requerido
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Código de seguridad de tarjeta (CVV)</mat-label>
                <input type="password" matInput required formControlName="ccv" placeholder="Ejemplo: 123">
                <mat-error *ngIf="DebitoCredito.get('ccv')?.hasError('required')">
                  El número cvv es requerido
                </mat-error>
                <mat-error *ngIf="DebitoCredito.get('ccv')?.hasError('pattern')">
                  Escriba el CVV con solo números ejemplo: 123
                </mat-error>
              </mat-form-field>
            </div>

            <div>
              <mat-label>Fecha de Vencimiento</mat-label><br>
              <mat-form-field appearance="outline" class="Prefc_i">
                <mat-select formControlName="fvncmtoMes">
                  <mat-option *ngFor="let option of Months" [value]="option.month">
                    {{option.month}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="Prefc_i2">
                <mat-select formControlName="fvncmtoAno">
                  <mat-option *ngFor="let option of Anos" [value]="option.ano">
                    {{option.ano}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-login__item">
              <mat-form-field appearance="outline">
                <mat-label>Cantidad a pagar
                  <strong><span>En Bolivares</span></strong>
                </mat-label>
                <input matInput formControlName="cantidad" required #inputAmount>
                <mat-error *ngIf="DebitoCredito.get('cantidad')?.hasError('required')">Monto requerido</mat-error>
                <mat-error *ngIf="DebitoCredito.get('cantidad')?.hasError('pattern')">Escriba el monto seguido dos
                  decimales separado por punto, ejemplo: 125.00
                </mat-error>
                <mat-error
                  *ngIf="DebitoCredito.hasError('isNegative') && DebitoCredito.get('cantidad')?.hasError('required')">El
                  monto no puede ser negativo
                </mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="!Creditoboolaean" appearance="outline">
                <mat-label>Clave telefónica</mat-label>
                <input type="password" matInput formControlName="Clavetlfonica" NumbersOnly="true" #inputDni>
                <mat-error *ngIf="DebitoCredito.get('Clavetlfonica')?.hasError('required')">
                  El número de tarjeta es requerido
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
        <!-- *ngIf="ReciboPay" -->
        <div *ngIf="ReciboPay">
          <app-table-receipt [cantidad]="cantidadDC"></app-table-receipt>
        </div>

        <!-- Con este regresar vuelve a consultar la cuenta del usuario solo cuando emite un pago -->
        <div *ngIf="ReciboPay" fxLayout="row" fxLayoutAlign="center center" class="btn-flex-center">
          <button class="button-material-back btn-width-30"
            (click)="ResetFormCD(); lastDni=''; searchServicesv2(dni,false,false)" mat-raised-button type="button"
            matStepperPrevious>
            Regresar
          </button>
        </div>

        <!-- /Form Para Debito o Credito  -->
        <div *ngIf="!ReciboPay" fxLayout="row" fxLayoutAlign="center center" class="btn-flex-center">
          <!-- Debito -->
          <button *ngIf="!Creditoboolaean" [disabled]="!DebitoCredito.valid" class="button-material-next btn-width-70"
            id="PagoDC" mat-raised-button type="button"
            (click)="AmountIncorrectConfirm(cantidadDC?.value,'this.PagoDebito()',PaymenMethod)">
            <span *ngIf="!Creditoboolaean">Pagar</span>
          </button>
          <!-- / Fin Debito -->

          <!-- Credito -->
          <button *ngIf="Creditoboolaean" [disabled]="!DebitoCredito.valid || PinEnviado"
            class="button-material-next btn-width-70" id="PagoDC" mat-raised-button type="button"
            (click)="AmountIncorrectConfirm(cantidadDC?.value,'this.PagoDebito()',PaymenMethod)">
            <span *ngIf="Creditoboolaean">Solicitar pin de autorización {{Minutes}}{{ConcatenaTimer}}{{Second}}</span>
          </button>
          <!-- / Fin Credito -->

          <button class="button-material-back btn-width-30" (click)="ScrollUp($event); ResetFormCD()" mat-raised-button
            type="button" matStepperPrevious>
            Regresar
          </button>
        </div>

      </mat-step>
      <!-- / Fin de Crédito o Débito -->
    </mat-stepper>

  </div>



</form>