$app-dark-blue: rgba(69, 127, 192, 1);
$app-light-blue: rgba(7, 195, 176, 1);
.basic-container .mat-step-header .mat-step-icon-selected {
  background-color: #6cb73a;
  color: rgba(22, 20, 20, 0.418);
}


.mat-step-header .mat-step-icon {
  background-color: rgba(35, 77, 167, 0.54);
  color: #fff;
}

.textinvalido {
  color: red;
}

.Topclass {
  margin-top: -30px;
}

.Prefc_i {
  width: 70px;
}

.Prefc_i2 {
  width: 100px;
}

.example-card {
  max-width: 200px;
  min-height: 220px;
  margin: 10px;
}

.TitlePerson {
  font-size: 14px !important;
}

.example-header-image {
  background-size: cover;
}

.cardflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.captcha-box {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid-cards {
  // display: grid;
  // grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  // margin-top: 35px;
  // grid-gap: 4%;
  // grid-auto-rows: minmax(100px, auto);
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(min(160px, 100%), 1fr));
  display: grid;
  gap: 20px;
  justify-items: center;
}

.grid-cards-item {
  color: #d6d5ef;
  border-radius: 9px;
  // filter: drop-shadow(0 0 0.75rem #0b255f);
  height: 100px !important;
  border-radius: 13px;
  // background-color: #00184e;
  background-color: $app-dark-blue;
  border: none;
  cursor: pointer;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    // background-color: #0e2f79;
    background: linear-gradient(36deg, $app-dark-blue 18%, $app-light-blue 100%) !important;
  }

  h3 {
    margin: 7px;
    font-size: 18px;
  }

  p {
    font-size: 11px;
  }
}

// .grid-cards-item:hover, .grid-cards-item:focus {
//   // background-color: #0e2f79;
//   }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.btn-nav-container-grid {
  width: 100% !important;
  position: absolute;
  display: grid;
  grid-template-columns: 22% 70%;
  /* padding: 37px; */
  gap: 10px;
  margin-top: 4%;
  justify-content: center;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}




@media screen and (max-width: 930px) {
  .cardflex {
    display: block;
    /* align-items: center;
        justify-content: center; */
    width: 100%;
    height: 100%;
  }

  .unicard {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.customized_btn_next {
  align-items: center;
  appearance: none;
  background-color: rgba(7, 195, 176, 1);
  background-image: linear-gradient(36deg, $app-dark-blue 18%, $app-light-blue 100%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.customized_btn_next:active,
.customized_btn_next:focus {
  outline: none;
}

.customized_btn_next:hover {
  background-position: -20px -20px;
}

.customized_btn_next:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.customized_btn_next:disabled,
.customized_btn_next[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  background-image: #cccccc;
  background: #cccccc;
  color: #666666;
    position: absolute;
    display: grid;
    grid-template-columns: 22% 70%;
    /* padding: 37px; */
    gap: 10px;
    margin-top: 4%;
    justify-content: center;
  }

  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  .forma-pago {
    margin: 10px;
    width: 200px;
  }

  @media screen and (max-width: 280px) {
    .forma-pago {
      width: 100%;
    }
}




  @media screen and (max-width: 930px) {
    .cardflex{
        display: block;
        /* align-items: center;
        justify-content: center; */
        width: 100%;
        height: 100%;
    }
     .unicard{
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

.btn-flotante {
  position: absolute;
  top: 10px;
  right: 13px;
  transition: all 300ms ease 0ms;
  z-index: 99;
}

@media only screen and (max-width: 600px) {
  .btn-flotante {
    top: 7px;
    right: 10px;
  }
}

:host ::ng-deep .mat-horizontal-content-container {
  padding:0 !important;
}
