.basic-container .mat-step-header .mat-step-icon-selected {
    background-color: #6cb73a;
    color: rgba(22, 20, 20, 0.418);
  }
  
  
   .mat-step-header .mat-step-icon {
      background-color: rgba(35, 77, 167, 0.54);
      color: #fff;
  }

  .textinvalido{
    color:red;
  }

  .Prefc_i{
    width: 70px;
  }

  .Prefc_i2{
    width: 100px;
  }

  .example-card {
    max-width: 200px;
    margin: 10px;
  }

  .TitlePerson{
    font-size: 14px !important;
  }
  
  .example-header-image {
    background-size: cover;
  }
  .cardflex{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  @media screen and (max-width: 795px) {
    .cardflex{
        display: block;
        /* align-items: center;
        justify-content: center; */
        width: 100%;
        height: 100%;
    }
     .unicard{
      display: flex;
      align-items: center;
      justify-content: center;
    } 
}