$app-dark-blue: rgba(69, 127, 192, 1);
$app-light-blue: rgba(7, 195, 176, 1);
$app-light-blue2: rgb(74 159 255);

.basic-container .mat-step-header .mat-step-icon-selected {
  background-color: #6cb73a;
  color: rgba(22, 20, 20, 0.418);
}


.mat-step-header .mat-step-icon {
  background-color: rgba(35, 77, 167, 0.54);
  color: #fff;
}

.textinvalido {
  color: red;
}

.Topclass {
  margin-top: -30px;
}

.Prefc_i {
  width: 70px;
}

.Prefc_i2 {
  width: 100px;
}

.example-card {
  max-width: 200px;
  min-height: 220px;
  margin: 10px;
}

.TitlePerson {
  font-size: 14px !important;
  margin: 10px 0;
}

.example-header-image {
  background-size: cover;
}

.cardflex {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  /*
  @media only screen and (max-width: 1342px) {
    display: block;
    width: 100%;
    height: 100%;
  } */

  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(min(160px, 100%), 1fr));
  display: grid;
  gap: 20px;
  justify-items: center;
  max-width: 1125px;
  margin: 20px auto 0;
  transition: all 0.5s ease-in-out;
}

.cardflexPagoMovil {
  width: 58%;
  grid-template-columns: repeat(auto-fit, minmax(min(107px, 100%), 1fr));
  display: grid;
  gap: 20px;
  justify-items: center;
  max-width: 1125px;
  margin: 20px auto;
  transition: all 0.5s ease-in-out;
}

.captcha-box {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid-cards {
  // display: grid;
  // grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  // margin-top: 35px;
  // grid-gap: 4%;
  // grid-auto-rows: minmax(100px, auto);
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(min(160px, 100%), 1fr));
  display: grid;
  gap: 20px;
  justify-items: center;
  max-width: 1125px;
  margin: 20px auto 0;
  transition: all 0.5s ease-in-out;
}

.grid-cards-item {
  color: #d6d5ef;
  // filter: drop-shadow(0 0 0.75rem #0b255f);
  height: 100px !important;
  border-radius: 13px;
  // background-color: #00184e;
  background-color: $app-dark-blue;
  border: none;
  cursor: pointer;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    // background-color: #0e2f79;
    background: linear-gradient(36deg, $app-dark-blue 18%, $app-light-blue 100%) !important;
  }

  h3 {
    margin: 7px;
    font-size: 18px;
  }

  p {
    font-size: 11px;
  }
}

// .grid-cards-item:hover, .grid-cards-item:focus {
//   // background-color: #0e2f79;
//   }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.btn-nav-container-grid {
  width: 100% !important;
  position: absolute;
  display: grid;
  grid-template-columns: 22% 70%;
  /* padding: 37px; */
  gap: 10px;
  margin-top: 4%;
  justify-content: center;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}




@media screen and (max-width: 1342px) {
  .unicard {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.forma-pago {
  margin: 10px;
  width: 200px;
}

@media screen and (max-width: 280px) {
  .forma-pago {
    width: 100%;
  }
}




@media screen and (max-width: 1342px) {

  .unicard {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn-flotante {
  position: absolute;
  top: 10px;
  &.right {
    right: 13px;
  }
  &.left {
    left: 13px;
  }
  transition: all 300ms ease 0ms;
  z-index: 99;
  background: $app-light-blue2;
}

@media only screen and (max-width: 600px) {
  .btn-flotante {
    top: 7px;
    right: 10px;
  }
}

:host ::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

.width_full {
  width: 100%;
}

.flex_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 22vh; */
  margin: 10% 0;
}

.hide {
  display: none;
}

@media only screen and (max-width: 594px) {
  .header-info-pay {
    display: flex;
    flex-direction: column;

    .btn-close {
      color: black;
      padding: 10px 10px 0;
      font-weight: 600;
      font-size: 30px;
      position: initial;
    }
    .title-info-pay {
      padding: 0 0 14px;
    }
  }
}

section.info-pay-container {
  padding: 0 20px 20px;
  /* width: calc(100% - 40px); */
  background: white;
  /* height: calc(100vh - 75px); */
  margin-top: 20px !important;
  width: 90%;
  margin: auto;
  max-width: 835px;
  @media only screen and (max-width: 566px) {
    padding: 0 !important;
  }
}
.header-info-pay {
  // position: sticky;
  // top: 0;
  width: 100%;
}
.title-info-pay {
  padding: 14px 0 17px;
  text-align: center;
  background-color: white;
}
table.info-pay-table {
  width: 100%;

  tbody {
    display: flex;
    flex-direction: column;
    gap: 13px;

    tr {
      display: flex;
      justify-content: space-around;
      background: #f0f0f0;
      border-radius: 16px;

      &.table-header {
        padding: 13px;
      }

      // &.bg-dark {
        // td {
        //   background: #85bdca !important;
        // }
      // }

      td {
        // padding: 13px;
        // background: #40b9d4;
        padding: 20px;
        color: rgb(65, 65, 65);
      }
    }
  }
}

@media only screen and (max-width: 362px) {
  table.info-pay-table tbody tr {
    &.table-header {
      padding: 7px !important;
    }
    td {
      padding: 10px 5px !important;
    }
    th {
      padding: 4px !important;
    }
  }
}

.btn-close {
  font-weight: 600;
  font-size: 30px;
  border-radius: 50%;
  // float: right;
  margin: 7px;
  color: black;
  padding: 15px;
  position: absolute;
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 426px) {
  section {
    padding: 0 !important;

    .title {
      font-size: 18px;
    }
    table {
      font-size: 14px;

      td, th {
        padding: 9px;
      }
    }
  }
}
.pay-icon-checked,
.pay-icon-registered,
.pay-icon-rejected {
  transform: scale(2);
  display: flex;
}

.pay-icon-checked {
  color: #2dbd05;
}
.pay-icon-registered {
  color: #f3d070;
}
.pay-icon-rejected {
  color: #e76e6e;
}
