<div [hidden]="!ipUbiiPos">
  <app-config-ip-ubiipos
    (ipUbiipos)="handlerIpUbiiPos($event)"
  ></app-config-ip-ubiipos>
</div>

<div [hidden]="ipUbiiPos">
  <app-welcome-view *ngIf="!showFormView"
    (showFormEmitter)="handleShowFormView(true)">
  </app-welcome-view>

  <form class="form-login w-full" id="form-offer" *ngIf="!showStateTable && showFormView">

    <div class="form-login__offer">
      <span
        class="button-link__bold button-link button__secondary btn-width-70 fancy_shadow main-title-login-container flex flex-col gap-2.5">
        <!-- <p>Registre su pago</p>
        <p>Servicio de Internet</p> -->
        <img class="fibex-main-title-logo" src="assets/images/fibex-logo-positive.png" alt="Fibex Telecom Logo">
        <h1 class="main-title-login text-3xl">Registre su pago de <strong>Internet!</strong></h1>
      </span>
    </div>

    <!-- [className]="nameClient ? 'form-login__group2 fancy_shadow' : 'form-login__group fancy_shadow'" -->
    <div class="form-login__group fancy_shadow" [ngClass]="nameClient ? 'form-login__group2' : ''">

      <!-- Mensajes de alerta -->
      <div>
        <h3 class="message-succes" *ngIf="payReported && !playDuplicated" (click)="payReported = !payReported">
          Gracias por su pago, el mismo se encuentra en proceso de conciliación el
          cual dura entre 24 a 48 horas ({{ Contar }})
        </h3>
        <h3 class="message-succes" *ngIf="CuentaAnulada && !playDuplicated" (click)="CuentaAnulada = !CuentaAnulada">
          No es posible registrar su pago porque se cuenta está ANULADA o RETIRADA
          ({{ Contar }})
        </h3>
        <h3 class="message-warning" *ngIf="playDuplicated && !payReported" (click)="playDuplicated = !playDuplicated">
          No es posible registrar el mismo pago dos veces ({{ Contar }})
        </h3>
        <h3 class="message-warning" *ngIf="ErrorRegistrando">
          {{ MessageErrorRegistrado }} ({{ Contar }})
        </h3>
      </div>
      <!-- Mensajes de alerta -->

      <div *ngIf="
          !payReported ||
          (CuentaAnulada && !playDuplicated) ||
          ErrorRegistrando ||
          (playDuplicated && !payReported)
        " class="section-step-container">
        <div *ngIf="AppFibex" class="links-nav-btns-container">

          <button *ngIf="AppFibex && navActive !== ENUM_NAV.LOGIN" (click)="goStepBack()"
            class="links-btn-navigation nav-back">
            <svg class="text-3xl" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 48 48">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"
                d="M31 36L19 24l12-12" />
            </svg>
            <p>
              {{ navActive === ENUM_NAV.PAYMENT_CARDS && userSelectList.length > 1 ? 'Ver usuarios' : 'Atrás' }}
            </p>
          </button>

          <!-- BTN to select option test and Admin panel -->
          <div *ngIf="navActive !== ENUM_NAV.USER_LIST_SELECT" [hidden]="showaBtnAdmin">
            <app-btn-to-option
            (btnOption)="handlerAdminPanel($event)"
            ></app-btn-to-option>
          </div>
        </div>


        <div *ngIf="AppFibex && userGreeting" class="subtitle-info flex justify-between">
          <h1 class="name-client text-2xl txt-dark">
            {{ userGreeting }}
          </h1>

          <div *ngIf="navActive !== ENUM_NAV.USER_LIST_SELECT" class="flex flex-col gap-2">
            <h2 class="name-client text-2xl txt-dark">
            Nro. Contrato: {{nroContrato?.value}}
          </h2>
          <h2 class="name-client text-2xl txt-dark">
            Suscripción: {{this.subscription}} USD
          </h2>
          </div>
        </div>

        <span *ngIf="mainTitle" class="title-info-container">
          <h4 >
            {{ mainTitle }}
          </h4>
        </span>
        <!-- Menú ppal si la ruta no tiene la cedula del cliente -->
        <!-- showDniForm && !AppFibex -->
        <div *ngIf="navActive === ENUM_NAV.LOGIN" class="section-step-item keypad-form-step">

          <app-tab-dni
              (typeDNIEmitter)="onLoginTypeChange($event)"
          >
          </app-tab-dni>

          <div class="form-dni-keyboard-container flex gap-8">

            <div class="form-dni-section">

              <div class="form-login__item" fxFlex="1 0 auto" fxLayout="column">

                <div div="form-control-item-container"
                  [formGroup]="firstFormFibex">


                  <!-- SOLO PARA DESARROLLO Y PRUEBAS >>> (click)="testNextPage()" -->
                  <label class="form-control-label">
                    {{ loginTypeSelectValue === 'V' ? 'Cédula del cliente' : loginTypeSelectValue === 'J' ? 'Jurídico' : 'Extranjero' }}
                  </label>

                  <div class="form-control-input form-dni-input">
                    <h4
                      (click)="isActiveLoginInput = true"
                      [ngClass]="{'form-input-empty': (firstFormFibex.get('dni')?.value.length === 0), 'input-active-color': firstFormFibex.get('dni')?.value.length || isActiveLoginInput, 'input-small-text-size': firstFormFibex.get('dni')?.value.length > 8 }">

                      {{ firstFormFibex.get('dni')?.value || '_____' }}

                      <span *ngIf="(loginTypeSelectValue === 'V' ? (firstFormFibex.get('dni')?.value.length < 7) : firstFormFibex.get('dni')?.value.length < 16)" class="custom-cursor"></span>
                    </h4>
                  </div>


                  <p class="form-control-error-text"
                    *ngIf="firstFormFibex.get('dni')?.dirty && firstFormFibex.get('dni')?.hasError('required')">
                    La cédula es requerida
                  </p>
                </div>

                <div class="login-form-btns-section relative -mb-8 flex gap-4 w-full flex-col">
                  <button
                    class="form-control-btn" type="button" role="button"
                    (click)="goToPayment()" [disabled]="dni?.invalid">
                    Pagar
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M9 4h10v14a2 2 0 0 1-2 2H9m3-5l3-3m0 0l-3-3m3 3H5"/></svg>
                  </button>
                  <button
                    class="form-control-btn" type="button" role="button"
                    (click)="checkLatestPayments()" [disabled]="dni?.invalid">
                    Consultar últimos pagos
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M20 4H4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1M4 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h16a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zm2 5h2v2H6zm5 0a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2zm-3 4H6v2h2zm2 1a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2h-6a1 1 0 0 1-1-1m-2 3H6v2h2zm2 1a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2h-6a1 1 0 0 1-1-1" clip-rule="evenodd"/></svg>
                  </button>

                </div>

                <!--  En caso de tener dos o más abonados -->

                <div class="account-selector-container" *ngIf="false">

                  <!-- En caso de tener dos o más abonados -->
                  <h3 class="message-succes" *ngIf="listContratos.length > 1">
                    Por favor seleccione su Nro. de Abonado
                  </h3>
                  <div *ngIf="LoadingLengthAbonado" class="spinner-pay">
                    <mat-spinner></mat-spinner>
                  </div>
                  <div *ngIf="listContratos.length > 1 && !LoadingLengthAbonado"
                    class="grid-cards cards-abonados animated fadeInUp">
                    <button *ngFor="let contrato of listContratos" class="grid-cards-item"
                      (click)="contractSelected(contrato, true)">
                      <h3>
                        {{ contrato.contrato }}
                      </h3>
                      <p *ngIf="contrato.sector">
                        {{ contrato.sector }}
                      </p>
                      <p>
                        {{ contrato.status_contrato }}
                      </p>
                    </button>
                  </div>

                </div>

              </div>
            </div>

            <app-keyboard-on-screen
              [isValidEnterBtn]="!dni?.invalid" classes="pinpad-big-size" (valorTeclado)="onTecladoInput($event)"
              (deleteKeyEmitter)="deleteLastCharacter()"
              (enterEmitter)="searchServicesv2(firstFormFibex.get('dni'), false, true)">
            </app-keyboard-on-screen>

          </div>

        </div>

        <div *ngIf="navActive === ENUM_NAV.USER_LIST_SELECT" class="section-step-item">
          <div class="user-list-select-content w-full flex justify-center txt-dark flex-col">

            <div class="user-list-select-grid">

              <app-user-item-card *ngFor="let user of userSelectList"
                [userItem]="user"
                (onUserSelected)="onUserSelected($event)"
              >
              </app-user-item-card>

            </div>

          </div>
        </div>

        <!-- PAYMENT CARDS STEP -->
        <div *ngIf="navActive === ENUM_NAV.PAYMENT_CARDS" class="section-step-item">

          <div class="payment-menu-content w-full flex justify-center txt-dark flex-col">

            <div class="payment-menu-subscription-section">
              <h4 class="name-client text-center text-base">
                {{ saldoUSD | negativeAmount }} USD |
                {{ saldoBs | negativeAmount }} Bs <strong>{{ saldoText }}</strong>
              </h4>
            </div>

            <!-- UNIQUE PAYMENT -->
            <app-unique-payment
            [tasaCambio]="tasaCambio"
            [saldoBs]="saldoBs"
            [saldoUSD]="saldoUSD"
            [mountTotalMonthUSD]="mountTotalMonthUSD"
            [mountTotalMonthBs]="mountTotalMonthBs"
            [subscription]="subscription"
            [monthPayCount]="monthPayCount"
            [setTitleFn]="setMainTitle"

            (totalBs)="mountsToPaymentBs($event)"
            (totalUSD)="mountsToPaymentUSD($event)"
            (onEditAmountEvent)="onEditAmountClick()"
            ></app-unique-payment>

          </div>

          <button
          class="form-control-btn w-44 mx-auto payment-menu-success-btn" type="button" role="button"
          (click)="handleShowTransactionModal(true)" >
            Pagar
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M16.06 10.94a1.5 1.5 0 0 1 0 2.12l-5.656 5.658a1.5 1.5 0 1 1-2.121-2.122L12.879 12L8.283 7.404a1.5 1.5 0 0 1 2.12-2.122l5.658 5.657Z"/></g></svg>
          </button>

        </div>

      </div>
    </div>
  </form>

  <app-info-pay *ngIf="showStateTable" [stateTableData]="stateTableData" [showStateTable]="showStateTable" [saldoUser]="saldoMounted"
    (closeEvent)="showStateTable = false">
  </app-info-pay>


  <!-- MODAL DE TRANSACCION DEL PAGO -->
  <app-modal-payment *ngIf="showTransactionModal || showAnulationModal || showadmin"
    [paymentType]="selectedPaymentType"
    [dniValue]="this.dni?.value"
    [nroAbonado]="this.nroContrato?.value"
    [nroContrato]="idContrato"
    [inputType]="showAnulationModal ? 'reference' : showTransactionModal ? 'mount' : ''"
    [saldoBs]="saldoBs"
    [tasaCambio]="tasaCambio"
    [subscription]="subscription"
    [mountValue]="mountTotalMonthBs"
    [activeInputFocus]="activeTransactionInputFocus"
    [viewAdmin]="showadmin"

    (closeEmmit)="handleShowTransactionModal(false)"
    (onSubmitPayForm)="resetAllForms()">
  </app-modal-payment>
</div>


