.basic-container .mat-step-header .mat-step-icon-selected {
    background-color: #6cb73a;
    color: rgba(22, 20, 20, 0.418);
  }
  
  
   .mat-step-header .mat-step-icon {
      background-color: rgba(35, 77, 167, 0.54);
      color: #fff;
  }