
.div-more-payments {
  position: relative;
  text-align: end;
  align-items: end;
  margin: 0.4rem;

  .btn-more-payments {
    width: 10rem;
    background: #47a6ff;
    border-radius: 60rem;
    color: white;
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
    margin: 1.2rem;
    transition: all 0.3s ease;
    animation: moveUpDown .9s infinite ease-in-out;

    &:hover {
      background: #32759c; /* Cambia el color de fondo */
    }

    &:active {
      transform: translateY(-2px); /* Efecto al hacer click */
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Sombra más suave */
    }
  }

  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}

// .btn-card-customized-1 {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: initial !important;
//   height: initial !important;
//   padding: 2rem 4rem !important;
//   gap: 0.8rem;
//   font-size: 1.8rem;

//   svg {
//     width: 2rem;
//     height: 2rem;
//   }
// }

// .payment-menu-count-container {

//   .payment-menu-btn {
//     padding: 1rem 2rem;
//     border-radius: 9rem;
//     background: var(--primary-accent-color);
//     color: white;
//   }
//   .payment-month {
//       /* padding: 0 2rem; */
//       font-size: 3rem;
//       width: 6rem;
//       text-align: center;
//   }

// }

.payment-menu-mount-section {
  display: flex;
  align-items: center;
  place-content: center;
  gap: 1rem;
  color: #2c2c2c;
  h4 {
    font-weight: bold;
    font-size: 1.6rem;
  }

  h1 {
    font-weight: bold;
    font-size: 2.5rem;

    span {
      color: #848484;
    }
  }
  svg {
    font-size: 2rem;
  }
}

// .payment-menu-success-btn {
//   max-width: 800px;
//   margin: 0 auto;
// }

// .payment-menu-months-grid {
//   width: 100%;
//   grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
//   display: grid;
//   gap: 20px;
//   justify-items: center;

//   .payment-grid-item {
//     display: flex !important;
//     flex-direction: column !important;
//     border-radius: 16px;
//     padding: 23px;
//     max-width: 300px !important;
//     width: 100%;
//     font-size: 1.9rem;
//     border-radius: 99px;
//     text-align: center;

//     background: linear-gradient(36deg, rgb(222 237 255) 18%, rgb(203 220 255) 100%);
//     border: 0.3rem solid rgb(89, 152, 224);
//     color: rgb(89, 152, 224);

//     &.payment-grid-item-active {
//       background: linear-gradient(36deg, rgb(89, 152, 224) 18%, rgb(48, 228, 210) 100%);
//       color: white;
//       border: initial;
//     }

//   }
// }

