
.div-more-payments {
  position: relative;
  text-align: end;
  align-items: end;
  margin: 0.4rem;

  .btn-one-payment {
    width: 15rem;
    background: var(--primary-accent-color);
    border-radius: 3rem;
    color: white;
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
    margin: 1.2rem;
    padding: 0.8rem;
  }

  .btn-more-payments {
    width: 15rem;
    background: var(--primary-accent-color);
    border-radius: 3rem;
    color: white;
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
    margin: 1.2rem;
    padding: 0.8rem;
    transition: all 0.3s ease;
    animation: moveUpDown 0.9s infinite ease-in-out;

    // &:hover {
    //   background: #32759c; /* Cambia el color de fondo */
    // }

    &:active {
      transform: translateY(-2px); /* Efecto al hacer click */
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Sombra más suave */
    }
  }

  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}

.h4-amount{
  // font-weight: bold;
  font-size: 1.6rem;
  width: 21rem;
}

.div-btn-more-payments{
  width: 30rem;
}

.payment-menu-mount-section {
  display: flex;
  align-items: center;
  place-content: center;
  gap: 1rem;
  color: #2c2c2c;

  h1 {
    font-weight: bold;
    font-size: 2.5rem;

    span {
      color: #848484;
    }
  }
  svg {
    font-size: 2rem;
  }
}
.pencil-edit-amount {
  position: relative;
  margin-left: calc(-48px + -1.4rem);
  padding: .4rem;
  border-radius: 10px;

  &:active {
    background-color: #eee;
  }
}
