//TAILWIND
@tailwind base;
@tailwind components;
@tailwind utilities;

// BREAKPOINTS
@import './abstracts/breakpoints';
@import './abstracts/variables';

// BASE
@import './base/reset';
@import './base/typography';

//PAGES
@import './pages/login';

// COMPONENTS
@import './components/buttons';
@import './components/icon';
@import './components/imagePay';
@import './components/invoice';
@import './components/spinner';

// LAYOUT
@import './layout/footer';
@import './layout/form';
@import './layout/title';
@import './layout/nav';


:root {
  --primary-accent-color: #3484ded9;
}

* {
  box-sizing: border-box;
}
span, p, h1, h2, h3, h4, h5, h6, div{
  font-family: "Poppins", sans-serif !important;
}
body {
  font-family: "Poppins", sans-serif !important;
  background-color: ghostwhite;
  width: 100%;
  margin: 0;
  padding: 0;
  color: ghostwhite;
}

app-form {
  display: flex;
  margin: auto;
}

  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }

  *::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    height: 3px !important;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122, 153, 217)),
        color-stop(0.72, rgb(73, 125, 189)),
        color-stop(0.86, rgb(28, 58, 148)));
  }

  

  .img-swal {
    z-index: 9999999999999999999 !important;
    padding: 0 .3rem !important;
    .swal2-modal {
      position: relative !important;
      z-index: 9999999999 !important;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
      border-radius: 18px !important;
      overflow: hidden;
    }
    .swal2-html-container {
      margin: 0 !important;
      img {
        width: 100% !important;
      }
    }
  }
.txt-dark {
  color: #313131 !important;
}
.text_ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bg-input-primary {
  transition: all 0.3s ease-in-out;
  &:disabled {
    // background: #f8f8ff63;
    background: linear-gradient(36deg, rgb(89, 152, 224) 18%, rgb(48, 228, 210) 100%);
    opacity: 0.6;
  }
  &:not(:disabled) {
    // background: linear-gradient(36deg, rgba(69, 127, 192, 1) 18%, rgba(7, 195, 176, 1) 100%);
    background: linear-gradient(36deg, rgb(89, 152, 224) 18%, rgb(48, 228, 210) 100%);
  }
}